/* Header/Footer */

@media (max-width: 768px) { 
  .nikeDesktopHeader,
  .nikeDesktopFooter {
      display: none !important;
   }
}

@media (min-width: 768px) { 
  .bwt-store-show-header {
    margin-top: 108px !important;
  }

  .nikeMobileHeader,
  .nikeMobileFooter {
      display: none !important;
   }
}

/* Hide Breadcrumb Text on Mobile */
@media only screen and (max-width: 532px) { 
  .bw-appointment-header-column .appointment_link, .bw-appointment-header-column .choose_store_link {
      color: transparent !important;
    }
  }

/* Stop confirm button from breaking box on iPhone5 */
@media only screen and (max-width: 375px) {
  .store-container .button-clean {
    margin-left: 68% !important;
  }
}

input#name::-webkit-input-placeholder, input#email::-webkit-input-placeholder {
   letter-spacing: normal !important;
}

@media screen and (min-width: 513px) {
   .bw-appointment-header-close-container, .bw-confirmation-close-button {
         display: none !important;
   }
}

/* Other */

.bwt-email-opt-field input[type=checkbox]:checked+label { background: none !important; }

.bw-appointment-services .bw-appointment-service-link { min-height: 273.188px !important; }

.nsg-glyph--pin { color: #fa5400 !important; }

.bwt-store-directions-mobile-link { color: #000 !important; }
.bwt-store-directions-mobile-link:hover { color: #fa5400 !important; }

.bwt-store-hours-calender .bwt-special-day, .bwt-special .bwt-store-hour-date, .bwt-special .bwt-store-hour-name,
.bwt-special .bwt-store-hour-range { color: #fa5400 !important; }

.bwt-modal-store-hours-wrapper .bwt-hours-close-modal {
   font-size: 20px !important;
   color: #000 !important;
   font-weight: normal !important;
}

.bwt-modal-store-hours-wrapper .bwt-hours-close-modal:hover { color: #fa5400 !important; }

.bwt-store-type-list > .bwt-store-type .bwt-store-type-image-container {
   background-image: url('https://s3.amazonaws.com/assets.brickworksoftware.com/Nike/flyknits.jpg') !important;
}
