.bw-appointment-step-container-title, .bw-appointment-service-link-name, .appointment-rsvp-container .title h1 {
	font-family: Helvetica, Arial, sans-serif !important;
	font-weight: bold !important;
	font-size: 1rem !important;
}

.bw-appointment-service-link-description {
	font-family: Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 0.8rem !important
}

.bw-appointment-service-link {
	border: 1px solid #e5e5e5 !important;
	padding: 60px 30px 60px 30px !important;
}

.bw-appointment-service-link:hover {
	border: 1px solid #000 !important;
}

.bw-appointment-header-column {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.8rem !important
}

.bw-appointment-header-feedback {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.7rem !important
}

.bw-appointment-header-feedback, .bw-appointment-header-column .appointment_link,
.bw-appointment-header-column .choose_store_link {
	color: #000 !important;
}

.appointment-rsvp-container .store-container {
	border-color: #000 !important;
}

.appointment-rsvp-container .store-container h1 {
	font-family: Helvetica, Arial, sans-serif !important;
	font-weight: bold !important;
	font-size: 1rem !important;
}

.appointment-rsvp-container .ribbon-banner {
	display: none;
}

.appointment-rsvp-container .store-name {
	border-bottom: none !important;
}

hr.medium-7 {
	display: none;
}

.store-container .map {
	margin-bottom: 20px !important;
}

.appointment-rsvp-container .store-container b {
	font-weight: normal !important;
}

.appointment-rsvp-container .store-container .address table {
	width: 80% !important;
}

.fa-mobile-phone:before, .fa-mobile:before {
	content: "Phone: " !important;
	font-family: Helvetica, Arial, sans-serif !important;
	font-size: 14px !important;
	font-style: none;
}

.bw-appointment-store-address tr {
	vertical-align: baseline !important;
}

.bw-appointment-store-address h4, .bw-appointment-store-address h6, .bw-appointment-store-address table,
.appointment-rsvp-container .button-clean{
	font-family: Helvetica, Arial, sans-serif !important;
}

#service-appointment-stores h3, .name_distance h4, .appointment-rsvp-container .distance,
.appointment-rsvp-container .local-stores .search h3, input#location::-webkit-input-placeholder {
	font-family: Helvetica, Arial, sans-serif !important;
	color: #000 !important;
	font-style: normal;
}

/*
.bw-iframe-container {
	background-image: url("https://s3.amazonaws.com/assets.brickworksoftware.com/Nike/Swoosh.png");
	background-repeat: no-repeat;
	width: 175px;
	height: 65px;
}
*/

.segment_header img {
   display: none !important;
}

.bwt-appt-message-field {
   display: none !important;
}

.appointment-rsvp-container .bw-appointment-header { min-height: 75px !important; }
.bw-appointment-header-column::before, .bw-appointment-header-feedback::before  { content: none; }

.appointment-rsvp-container .button-clean {
  margin-left: 75%!important;
  width: 25%!important;
}

.appointment-rsvp-container .store-container { padding-top: 20px; }
