body {margin: 0;}

.bw-display-layer-container { margin: 100px 0; }
.footer{  font-size: 11px; margin: -50px 0 0 !important; }
.footer a{ padding: 0 10px; }

.clearfix {
  overflow: auto;
  zoom: 1;
}

.main-header {
  font-family: 'Open Sans Condensed', sans-serif;
  text-rendering: optimizeLegibility;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;

  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top,  #000000 9%, #000000 21%, #757575 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #000000 9%,#000000 21%,#757575 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #000000 9%,#000000 21%,#757575 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#757575',GradientType=0 ); /* IE6-9 */
  z-index: 999;
}

.main-header a{
  text-transform: uppercase;
  text-decoration: none;
}

.footer { display: none; }

.header-wrap,
.footer-wrap {
  margin: 0 auto;
}

.logo-container {
  height: 50px;
}

.logo-container,
.desktop-links {
  float: left;
  display: flex;
}

.logo-img {
  height: 100%;
}

.link-container {
  display: inline-block;
  font-size: 15px;
  padding: 15px 7px 15px 9px;
  border-left: 1px solid #fff;
  text-align: center;
  color: #fff;
}

.desktop-links, 
.header-wrap {
    overflow: hidden;
    white-space: nowrap;
}

.link-container:last-child {
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top,  #872A32 9%, #872A32 21%, #BB0521 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #872A32 9%,#872A32 21%,#BB0521 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #872A32 9%,#872A32 21%,#BB0521 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#872A32', endColorstr='#BB0521',GradientType=0 ); /* IE6-9 */
}

@media (min-width: 800px) {
  .main-header {
    overflow: hidden;
  }

  .header-wrap,
  .footer-wrap {
    max-width: 960px;
    min-width: 960px;
  }

  .mobile-nav-icon {
    display: none;
  }
}

@media (max-width: 800px) {
  .header-wrap,
  .footer-wrap {
    width: 100%;
    margin: 0 auto;
  }

  .desktop-links {
    display: none;
  }
}

.mobile-nav-icon {
  float: right;
  padding: 10px 15px;
}

.mobile-nav {
  position: absolute;
  height: 0;
  width: 100%;
  overflow: hidden;
  top: 50px;
  background-color: #fff;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in
}

.active-nav .mobile-nav {
  height: auto;
}

.mobile-link-container {
  display: block;
  padding: 13px 0;
  border-top: 1px solid #fff;
  background-color: #000;
  color: #fff;
  font-size: 14px;
}

.mobile-link-container:last-child {
  color: #D0021B;
}

.mobile-nav {
  text-align: center;
}

.shop-menu {
  display: none;
}

.shop-link {
  display: block;
  background: #f2f2f2;
  border-top: 1px solid #fff;
  padding: 10px 0;
  font-size: 12px;
  color: #000;
}

.active-shop .shop-menu {
  display: block;
}

.main-footer {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #000;
  padding: 40px 20px 80px;
  overflow: hidden;
}

.footer-links-container {
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding: 0px 60px;
  color: #fff;
}

.footer-links-subheader {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 14px;
}

.footer-link-container {
  display: block;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 800px) {
  .mobile-footer {
    display: none;
  }
}

@media (max-width: 800px) {
  .desktop-footer {
    display: none;
  }

  .footer-links-container {
    width: 50%;
    padding: 0 30px;
  }
}

.mobile-phone-number {
  font-family: 'Open Sans Condensed', sans-serif;
  display: inline-block;
  width: 100%;
  font-weight: 800;
  padding: 30px 0 0;
  text-align: center;
  color: #D0021B;
  text-decoration: none;
}

span.bwt-store-header-details-decoration {
    display: none;
}
span.bwt-store-header-details-hours {
    display: none;
}
.bw-display-layer .footer a{color:#fff !important;}