@font-face {
  font-family: 'SaaSeries';
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/urbn/spaces/SaaSeriesFD.otf') format("opentype");
}

.bw-display-layer .bwt-store-feature-title, .bw-display-layer .bwt-store-events-title, .bw-display-layer .bwt-stores-nearby-title, .bw-display-layer .bwt-store-details-top .bwt-store-title, .bw-display-layer .bwt-store-player-title, .bw-display-layer .bwt-store-social-title, .bw-display-layer .bwt-store-blogs-title, .bw-display-layer .bwt-events-more-events-title, .row .bw-display-layer .bwt-store-main .bwt-store-header-title {
	font-family: 'SaaSeries';
	line-height: 1 !important;
	margin-bottom: 5px;
}

.row .bw-display-layer .bwt-space-header .bwt-spaces-logo-container .bwt-spaces-logo {
  background: url('https://s3.amazonaws.com/assets.brickworksoftware.com/urbn/spaces/SpaceNinety8_black.png') no-repeat !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.row .bw-display-layer .bwt-active-nav .bwt-spaces-logo-container .bwt-spaces-logo {
  background: url('https://s3.amazonaws.com/assets.brickworksoftware.com/urbn/spaces/SpaceNinety8_white.png') no-repeat !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}
.row .bw-display-layer .bwt-event-search-container .bwt-event-search-link,
.row .bw-display-layer .bwt-store-blog-index-link,
.row .bw-display-layer .bwt-store-link-container a,
.row .bw-display-layer .bwt-store-blogs-sub-title,
.row .bw-display-layer .bwt-blog-byline {
  border-color: #91cf5e !important;
}

.row .bw-display-layer .bwt-event-search-container .bwt-event-search-link:hover,
.row .bw-display-layer .bwt-store-blog-index-link:hover,
.row .bw-display-layer .bwt-store-link-container a:hover {
  border-color: #72a151 !important;
}

.row .bw-display-layer .bwt-blog-post-container .bwt-store-blog-link:before {
  color: #91cf5e !important;
}

.row .bw-display-layer .bwt-store-details-bottom .bwt-store-links-container a {
  display: inline-block;
  margin-bottom: 2px;
}

.bw-display-layer .bwt-store-footer-top-wrapper .bwt-index-store-map {
  background-image: url("//s3.amazonaws.com/assets.brickworksoftware.com/urbn/spaces/maps/SpaceNinety8-map.jpg") !important;
}

.row .bwt-store-map-pin-wrapper {
  display: none;
}

.bw-display-layer .bwt-cancel-rsvp-only
{ text-align: center; padding-top: 50px; }
.bwt-cancel-rsvp-only p.bwt-event-rsvp-status
{ font-size: 11px; color: #888; line-height: 19px; }
.bwt-cancel-rsvp-only .bwt-event-rsvp-cancel-button
{ padding-top: 30px; margin: 0 auto; max-width: 40%; }
.bwt-cancel-rsvp-only .bwt-event-rsvp-cancel-button #cancel-rsvp.button
{ background-color: #fff; border: 1px solid #aaa; color: #888; font-size: 12px; font-weight: normal; font-family: 'Helvetica'; padding: 15px; }
.bwt-cancel-rsvp-only .bwt-event-rsvp-cancel-button #cancel-rsvp.button:hover
{ background-color: #222; color: #fff; }
@media only screen and (min-width: 40.063em) {
.bwt-cancel-rsvp-only .bw-display-layer.bwt-cancel-rsvp-only
{ padding-top: 80px; }
.bwt-cancel-rsvp-only p.bwt-event-rsvp-status
{ font-size: 12px; }
.bwt-cancel-rsvp-only .bwt-event-rsvp-cancel-button #cancel-rsvp.button
{ font-size: 14px; }
.bwt-cancel-rsvp-only .bwt-event-rsvp-cancel-button
{ max-width: 20%; }
}
@media only screen and (min-width: 60.063em) {
.bwt-cancel-rsvp-only p.bwt-event-rsvp-status
{ font-size: 11px; }
.bwt-cancel-rsvp-only .bwt-event-rsvp-cancel-button #cancel-rsvp.button
{ font-size: 12px; }
.bwt-cancel-rsvp-only .bwt-event-rsvp-cancel-button
{ max-width: 14%; margin-bottom: 14%; }
}
}

/*RSVP Button Style*/
#bwt-rsvp-button {
	color: #fff;
	background-color: #222222;
	font-weight: bold;
        font-size: 18px;
        border: 1px solid #222222;
        transition: all 0s !important;
}

#bwt-rsvp-button:hover {
   color: #222222;
   background-color: #fff;
   border: solid 1px #222222;
   transition: all 0s !important;
}
/*HIDE BLOG*/
  .bw-display-layer .bwt-store-blog-index-link {
    display: none !important;
  }
