<style>
td {
padding: 0 !important;
}

.slick-dots{
display: none !important;
}

.slick-slide {
height: inherit !important;
opacity: 1 !important;
}

#brickworkapp {
    margin-top: 60px;
}

.bw-appointment-service-link-name {
  font-style: normal;
  color: black;
  font-family: "Minion";
  font-size: 18px;
}

.bw-appointment-service-link-description {
  font-style: normal;
  color: black;
  font-family: "Minion";
  font-size: 14px;
}

.bw-appointment-step-container .bw-appointment-step-container-title {
  margin-top: 3.75rem;
}

.appointment_link.bw-appointment-service-link {
  border: 1px solid #666666;
  min-width: 240px;
}

.appointment-rsvp-container .bw-appointment-header {
  padding: 0 7px 15px;
}

.bwt-appointment-cancel {
margin: 150px 0;
font-family: "Minion W01",Georgia,serif;
}

.bwt-appointment-cancel h2 {
font-family: "Minion W01",Georgia,serif;
}

.appointment-rsvp-container .bw-confirmation-close-button { display: none !important; }


@media(min-width:300px){
  div[class*='Breadcrumbs_component_']{
    margin-top: 5rem !important;
  }
}
@media(min-width: 1200px){
  div[class*='Breadcrumbs_component']{
    margin-top: 7rem !important;
  }
}

@-moz-document url-prefix(){
  @media(min-width:300px){
  div[class*='Breadcrumbs_component_']{
    margin-top: 5rem !important;
  }
}
@media(min-width: 1200px){
  div[class*='Breadcrumbs_component']{
    margin-top: 7rem !important;
  }
}

}



@media (min-width: 1027px){
#brickworkapp{
  margin-top: 90px;
}
}

.bw-iframe-container .bw-appointment-step-container-choose-time .title, .bw-iframe-container .bwt-appointment-enter-info .title  {
   display: block !important;
}
.bwt-appt-questions-container .shared > div > div .check_boxes .checkbox {
    display: inline-block;
  }
input.check_boxes {
  border-radius: 0 !important;
  background: #fff;
  height: 16px;
  width: 16px;
}
input.check_boxes::after {
  content:'.';
  color:rgba(0,0,0,0);
  background: #fff;
  padding: 1px 1px 2px 11px;
  border:1px solid #ccc;
}
input.check_boxes:checked::after{
  background: url(https://s3.amazonaws.com/assets.brickworksoftware.com/david_yurman/icons/appointment_modal_checked_box.svg) !important;
  content:'.';
  background-size: 100% 100%;
  background-position: center;
  color:rgba(0,0,0,0);
  padding: 1px 1px 2px 11px;
  border: 1px solid #ccc;
}
.skylight-close-button {
  right: 8px !important;
  top: 8px !important;
}

.bw-appointment-step-container {margin-top: 0rem !important;}
.appointment-rsvp-container .appointment-enterinfo-container {margin-top: 0px !important;}

.bw-appointment-header-column.small-5{
  text-align: center;
}
.bw-appointment-header-feedback::before {
  display: none;
}
  .appointment-rsvp-container .store-container .map {
    margin-bottom: 2%;
  }
  .bw-appointment-header-close {
    opacity: 0;
  }
@font-face{
  font-family:"Minion";
  src:url("https://s3.amazonaws.com/assets.brickworksoftware.com/david_yurman/fonts/35d9d14d-a31d-4d9b-a998-00ffc9bd46a4.eot?#iefix");
  src:url("https://s3.amazonaws.com/assets.brickworksoftware.com/david_yurman/fonts/35d9d14d-a31d-4d9b-a998-00ffc9bd46a4.eot?#iefix") format("eot"),
        url("https://s3.amazonaws.com/assets.brickworksoftware.com/david_yurman/fonts/62100580-a2d1-4d98-bb14-d4c4c3f1a5ba.woff") format("woff"),
        url("https://s3.amazonaws.com/assets.brickworksoftware.com/david_yurman/fonts/7ae8e168-1c29-4fcb-bb59-0043c943df3b.ttf") format("truetype"),
        url("https://s3.amazonaws.com/assets.brickworksoftware.com/david_yurman/fonts/cfa664d4-e518-4a49-b8a3-fccec93c29c1.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family:"Didot";
  src:url("https://s3.amazonaws.com/assets.brickworksoftware.com/david_yurman/fonts/dd077a5a-5331-4833-8a24-e3afbe24d92e.eot?#iefix");
  src:url("https://s3.amazonaws.com/assets.brickworksoftware.com/david_yurman/fonts/dd077a5a-5331-4833-8a24-e3afbe24d92e.eot?#iefix") format("eot"),
        url("https://s3.amazonaws.com/assets.brickworksoftware.com/david_yurman/fonts/8cf278e2-5b07-4c21-97da-4762c9ea76c1.woff") format("woff"),
        url("https://s3.amazonaws.com/assets.brickworksoftware.com/david_yurman/fonts/488ffbea-dc53-43b4-a9e2-d5bff132a85d.ttf") format("truetype"),
        url("https://s3.amazonaws.com/assets.brickworksoftware.com/david_yurman/fonts/972bb961-7f13-4e8d-8c1f-034e3f4e7517.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

.appointment-rsvp-container .title h1,
.appointment-rsvp-container .store-container .store-name h1,
.appointment-rsvp-container .store-container .address h4,
.appointment-rsvp-container .local-stores .container .name_distance h4,
.appointment-rsvp-container #appointment-confirmation .confirmation_title{
  font-family: "Didot";
}

.bw-appointment-header,
.appointment-rsvp-container .store-container .store-name .ribbon-banner a,
.appointment-rsvp-container .store-container .address h6,
.appointment-rsvp-container .store-container .address table,
.appointment-rsvp-container .local-stores h3,
.appointment-rsvp-container .local-stores .container .name_distance .distance,
.appointment-rsvp-container .button-clean,
.search_header,
.appointment-rsvp-container #select-appointment-time .appointment-slots .day_container .day_segment,
.appointment-rsvp-container #select-appointment-time .appointment-slots .day_container .day-title,
.bwt-appt-input-placeholder,
#questions-wrapper label,
.appointment-rsvp-container #appointment-confirmation,
.appointment-rsvp-container .bwt-appointment-submit, .appointment-rsvp-container .button{
  font-family:"Minion";
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
  font-family:"Minion";
}

.appointment-rsvp-container #select-appointment-time #appointment_date{
  float: left;
}

.appointment-rsvp-container #select-appointment-time .appointment-slots .day_container .day_segment .segment_header img{
  display: none;
}

.appointment-rsvp-container #select-appointment-time .appointment-slots .day_container .day_segment .segment_header .num_available{
  font-size: 14px;
}

#questions-wrapper label,
.bwt-appt-input-placeholder{
  font-size: 16px;
  color: black;
  letter-spacing: 0px;
}

.appointment-rsvp-container input[type="text"], .appointment-rsvp-container input[type="email"], .appointment-rsvp-container input[type="date"], .appointment-rsvp-container input[type="tel"], .appointment-rsvp-container textarea{
  letter-spacing: 0px;
}

#appointment-confirmation:before{
    content: "";
    display: block;
    width: 100%;
    height: 267px;
    background: url(http://s7d2.scene7.com/is/image/DavidYurman/brickwork%2Dwidget%2Dlastpage?$mktg$) no-repeat;
    background-position: 0px 8px;
    background-size: cover;
    margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  #appointment-confirmation:before{
     display: none;
  }
  
 #appointment-confirmation{
   padding-top: 50% !important;
   margin-top: -158px !important;
}
}
@media (min-width: 873px){
   .appointment-rsvp-container .title {
    display: inherit !important;
  }
}

.appointment-rsvp-container #appointment-confirmation{
  margin-top: -35px;
  margin-left: -0.93rem;
  margin-right: -0.93rem;
  padding: 0px;
}


.appointment-rsvp-container .appointment-enterinfo-container .bwt-appointment-submit:hover, .appointment-rsvp-container .appointment-enterinfo-container .bwt-appointment-submit:active, .appointment-rsvp-container .button:hover, .appointment-rsvp-container .button:active {
   background: #999;
}

/*
.medium-12.columns.bwt-appt-message-field {display: none;}
.Engaged.bwt-appt-message-field.columns.medium-12.questions_48,
.Ring.bwt-appt-message-field.columns.medium-12.questions_24,
.Get.bwt-appt-message-field.columns.engaged.medium-12.questions_25,
.Appointment.bwt-appt-message-field.columns.medium-12.questions_41 {display: block;}
*/

.bwt-appointment-customer-message {display: none;}

input.check_boxes {
  border-radius: 0 !important;
}

.bw-display-layer .footer{
  display: none;
}

@media only screen and (max-width: 54em) {
  .bw-appointment-header-row {
    display: flex;
  }
  .bw-appointment-header-row .small-5 {
    float: right;
  }
}

table.large-7 {
  width: 60% !important;
}
</style>