@font-face {
  font-family: 'MrEavesSan';
  src: url("//s3.amazonaws.com/assets.brickworksoftware.com/SLT/MrEavesSanOT-Reg.otf") format("opentype");
}
@font-face {
  font-family: 'MrEavesSanBold';
  src: url("//s3.amazonaws.com/assets.brickworksoftware.com/SLT/MrEavesSanOT-Bold.otf") format("opentype");
}
#bw-surlatable-frontend-template {
  /* =========== 'Important!'' statements ===========*/
  /* =========== Fonts ===========*/
  /* =========== Colors ===========*/
  /* =========== Font Size ===========*/
  /* =========== Misc Styles===========*/
  /*Calendar overrides */
}
#bw-surlatable-frontend-template .bwt-index-store-body-details-explore-link a, #bw-surlatable-frontend-template .bwt-index-store-body-details-explore-link {
  color: #6d8b19 !important;
}
#bw-surlatable-frontend-template .bwt-index-store-body-details-explore-link a:active, #bw-surlatable-frontend-template .bwt-index-store-body-details-explore-link:active {
  color: #6d8b19 !important;
}
#bw-surlatable-frontend-template .bwt-index-store-body-details-explore-link a:hover, #bw-surlatable-frontend-template .bwt-index-store-body-details-explore-link:hover {
  text-decoration: underline;
  color: #6d8b19 !important;
}
#bw-surlatable-frontend-template .bwt-index-search-filters-container, #bw-surlatable-frontend-template .bwt-store-hours p,
#bw-surlatable-frontend-template .bwt-store-header-details, #bw-surlatable-frontend-template .bwt-store-service-body .bwt-store-service-description, #bw-surlatable-frontend-template .bwt-appointment-length,
#bw-surlatable-frontend-template .bwt-index-filters-toggle, #bw-surlatable-frontend-template .bwt-store-address-line, #bw-surlatable-frontend-template .bwt-store-hours-table .bwt-store-hours-table-date-column,
#bw-surlatable-frontend-template .bwt-store-hours-table .bwt-store-hours-table-hours-column, #bw-surlatable-frontend-template .bwt-store-details-copy, #bw-surlatable-frontend-template .bwt-store-details-copy-mid-size,
#bw-surlatable-frontend-template .bwt-store-show-email-signup, #bw-surlatable-frontend-template .bwt-store-show-email-signup-title,
#bw-surlatable-frontend-template .bwt-store-show-email-signup-subhead, #bw-surlatable-frontend-template .bwt-index-filters-expand-button .bwt-hide-on-mobile,
#bw-surlatable-frontend-template .bwt-index-filters-expand-button .bwt-mobile-only,
#bw-surlatable-frontend-template .bwt-store-event-body-wrapper .bwt-store-event-body .bwt-store-event-description p,
#bw-surlatable-frontend-template .bwt-event-details-container, #bw-surlatable-frontend-template .bwt-nearby-event-date, #bw-surlatable-frontend-template .bwt-nearby-event-description,
#bw-surlatable-frontend-template .bwt-store-details-copy-mobile .bwt-store-parking-copy, #bw-surlatable-frontend-template .bwt-store-details-copy-mobile .bwt-store-details-description-mobile,
#bw-surlatable-frontend-template .bwt-event-details-date-time .bwt-event-details-dates,
#bw-surlatable-frontend-template .bwt-event-details-date-time .bwt-event-details-times {
  font-family: 'Helvetica';
}
#bw-surlatable-frontend-template .bwt-index-main-title, #bw-surlatable-frontend-template .bwt-store-address-mobile .bwt-store-address, #bw-surlatable-frontend-template .bwt-store-alert-mobile,
#bw-surlatable-frontend-template .bwt-location-details-title, #bw-surlatable-frontend-template .bwt-store-details-copy-subtitle, #bw-surlatable-frontend-template .bwt-store-parking-subtitle,
#bw-surlatable-frontend-template .bwt-store-header-title, #bw-surlatable-frontend-template .bwt-store-service-title, #bw-surlatable-frontend-template .bwt-appointment-modal-button-wrapper,
#bw-surlatable-frontend-template .bwt-feature-body-name, #bw-surlatable-frontend-template .store-event-calendar, #bw-surlatable-frontend-template .bwt-pagination-container,
#bw-surlatable-frontend-template .bwt-index-store-body-header-title, #bw-surlatable-frontend-template .bwt-index-store-body-details-explore-link,
#bw-surlatable-frontend-template .bwt-nav, #bw-surlatable-frontend-template .bwt-store-feature-title, #bw-surlatable-frontend-template .bwt-store-services-title, #bw-surlatable-frontend-template .bwt-store-events-title,
#bw-surlatable-frontend-template .bwt-store-map-button, #bw-surlatable-frontend-template .bwt-store-show-email-signup-submit,
#bw-surlatable-frontend-template .bwt-store-event-body-wrapper .bwt-store-event-body h6.bwt-store-event-title,
#bw-surlatable-frontend-template .bwt-store-event-body-wrapper .bwt-store-event-body h6.bwt-store-event-dates, #bw-surlatable-frontend-template a.bwt-store-event-title,
#bw-surlatable-frontend-template .bwt-feature-body-container, #bw-surlatable-frontend-template .bwt-nav-container .bwt-nav, #bw-surlatable-frontend-template .bwt-nearby-store-name, #bw-surlatable-frontend-template .bwt-store-show-nearby-title,
#bw-surlatable-frontend-template .bwt-filters-features h5.bwt-filters-features-title, #bw-surlatable-frontend-template .bwt-event-details-container h2,
#bw-surlatable-frontend-template .bwt-event-details-container h2.bwt-event-details-title, #bw-surlatable-frontend-template .bwt-event-details-location-address .bwt-event-details-location-title,
#bw-surlatable-frontend-template .bwt-events-more-events-title, #bw-surlatable-frontend-template .bwt-nearby-event-title, #bw-surlatable-frontend-template .bwt-store-event-body-wrapper .bwt-store-event-title,
#bw-surlatable-frontend-template .bwt-store-event-body-wrapper .bwt-store-event-dates, #bw-surlatable-frontend-template .bwt-event-details-location .bwt-store-location-mobile-title,
#bw-surlatable-frontend-template .bwt-event-image-info .bwt-event-details-title {
  font-family: 'Helvetica';
}
#bw-surlatable-frontend-template .bwt-index-store-body-header-title, #bw-surlatable-frontend-template .bwt-index-search-filters-container,
#bw-surlatable-frontend-template .bwt-store-show-details, #bw-surlatable-frontend-template .bwt-store-services-title, #bw-surlatable-frontend-template .bwt-store-events-title,
#bw-surlatable-frontend-template .bwt-store-show-nearby-title, #bw-surlatable-frontend-template .bwt-store-header .bwt-store-header-title a,
#bw-surlatable-frontend-template .bwt-store-header .bwt-store-header-title a:hover, #bw-surlatable-frontend-template .bwt-store-feature-title,
#bw-surlatable-frontend-template .bwt-index-store-body-details-address, #bw-surlatable-frontend-template .bwt-store-address-line a.bwt-index-store-image-link,
#bw-surlatable-frontend-template .bwt-store-address-line a.bwt-index-store-image-link:hover, #bw-surlatable-frontend-template .bwt-store-service-body,
#bw-surlatable-frontend-template .bwt-store-address .bwt-store-phone-number-link-prefix,
#bw-surlatable-frontend-template .bwt-store-address .bwt-store-phone-number-link-text, #bw-surlatable-frontend-template .bwt-nearby-store,
#bw-surlatable-frontend-template .bwt-index-filters-toggle, #bw-surlatable-frontend-template .bwt-event-details-container h2.bwt-event-details-title,
#bw-surlatable-frontend-template .bwt-event-details-container, #bw-surlatable-frontend-template .bwt-event-details-location-address .bwt-event-details-location-title,
#bw-surlatable-frontend-template .bwt-events-more-events-title, #bw-surlatable-frontend-template .bwt-nearby-event-title, #bw-surlatable-frontend-template .bwt-nearby-event-date,
#bw-surlatable-frontend-template .bwt-store-event-body-wrapper .bwt-store-event-body .bwt-store-event-description p,
#bw-surlatable-frontend-template .bwt-store-event-body-wrapper .bwt-store-event-dates, #bw-surlatable-frontend-template .bwt-store-event-body-wrapper .bwt-store-event-title a,
#bw-surlatable-frontend-template .bwt-event-details-location a.bwt-store-location-mobile-title,
#bw-surlatable-frontend-template .bwt-event-details-container .bwt-event-details-date-time {
  color: #777777;
}
#bw-surlatable-frontend-template .bwt-store-main-wrapper .bwt-store-phone-number-link-prefix, #bw-surlatable-frontend-template .bwt-store-main-wrapper .bwt-store-phone-number-link-text,
#bw-surlatable-frontend-template .bwt-store-main-wrapper .bwt-store-email-link a {
  color: #5d2140;
}
#bw-surlatable-frontend-template .bwt-store-main-wrapper .bwt-store-email-link-text a:hover, #bw-surlatable-frontend-template .bwt-store-main-wrapper .bwt-store-email-link-text a:active {
  color: #5d2140;
  text-decoration: underline;
}
#bw-surlatable-frontend-template .bwt-event-details-wrapper .bwt-store-phone-number-link-prefix, #bw-surlatable-frontend-template .bwt-event-details-wrapper .bwt-store-phone-number-link-text,
#bw-surlatable-frontend-template .bwt-event-details-wrapper .bwt-store-email-link a {
  color: #5d2140;
}
#bw-surlatable-frontend-template .bwt-event-details-wrapper .bwt-store-email-link-text a:hover, #bw-surlatable-frontend-template .bwt-event-details-wrapper .bwt-store-email-link-text a:active {
  color: #5d2140;
  text-decoration: underline;
}
#bw-surlatable-frontend-template .bwt-event-details-location-address .bwt-event-store-number a, #bw-surlatable-frontend-template .bwt-event-details-location-address .bwt-event-store-email a {
  color: #5d2140;
}
#bw-surlatable-frontend-template .bwt-event-details-location-address .bwt-event-store-number a:active, #bw-surlatable-frontend-template .bwt-event-details-location-address .bwt-event-store-email a:active,
#bw-surlatable-frontend-template .bwt-event-details-location-address .bwt-event-store-number a:hover, #bw-surlatable-frontend-template .bwt-event-details-location-address .bwt-event-store-email a:hover {
  color: #5d2140;
  text-decoration: underline;
}
#bw-surlatable-frontend-template .bwt-appointment-length {
  color: #a9a9a9;
}
#bw-surlatable-frontend-template .bwt-nav a, #bw-surlatable-frontend-template .btw-nav a:hover, #bw-surlatable-frontend-template .preview-wrapper {
  color: #575454;
}
#bw-surlatable-frontend-template .fa-search {
  color: #353333;
}
#bw-surlatable-frontend-template .bwt-store-header-details-hours {
  color: #b9b8b8;
}
#bw-surlatable-frontend-template .bwt-store-header-columns .bwt-store-header-title a, #bw-surlatable-frontend-template .bwt-store-header-columns .bwt-store-main-alert {
  color: #fff;
}
#bw-surlatable-frontend-template .bwt-index-store-body-details-address .bwt-store-main-alert {
  color: #acabab;
}
#bw-surlatable-frontend-template .bwt-store-service-body-container hr {
  border: 1px solid #252525;
}
#bw-surlatable-frontend-template .bwt-nav hr {
  border: 1px solid #5b992a;
}
#bw-surlatable-frontend-template .bwt-ribbon {
  background-color: #e7e7e7;
}
#bw-surlatable-frontend-template .bwt-nav-container, #bw-surlatable-frontend-template .preview-wrapper, #bw-surlatable-frontend-template .preview-image {
  background-color: #f8f8f8;
}
#bw-surlatable-frontend-template .bwt-event-details .bwt-event-details-container h2.bwt-event-details-title {
  font-size: 28px;
}
#bw-surlatable-frontend-template .bwt-nearby-store-name, #bw-surlatable-frontend-template .bwt-feature-body-container, #bw-surlatable-frontend-template .bwt-index-store-body-header-title,
#bw-surlatable-frontend-template .bwt-index-store-body-details-explore-link a, #bw-surlatable-frontend-template .bwt-index-search-form-submit .fa, #bw-surlatable-frontend-template .bwt-nearby-event-title,
#bw-surlatable-frontend-template .bwt-store-event-body-wrapper .bwt-store-event-title, #bw-surlatable-frontend-template .bwt-store-event-body-wrapper .bwt-store-event-dates {
  font-size: 18px;
}
#bw-surlatable-frontend-template .bwt-store-main-mobile, #bw-surlatable-frontend-template .bwt-index-search-filters-container, #bw-surlatable-frontend-template .bwt-location-details-title,
#bw-surlatable-frontend-template .bwt-store-service-description, #bw-surlatable-frontend-template .bwt-index-filters-expand-button .bwt-hide-on-mobile, #bw-surlatable-frontend-template .bwt-index-filters-expand-button
.bwt-mobile-only, #bw-surlatable-frontend-template .bwt-store-service-body p.bwt-store-service-description, #bw-surlatable-frontend-template .bwt-index-store-body-details-address,
#bw-surlatable-frontend-template .bwt-store-main-wrapper .bwt-store-address, #bw-surlatable-frontend-template .bwt-store-hours-table, #bw-surlatable-frontend-template .bwt-store-details-copy, #bw-surlatable-frontend-template .bwt-store-details-copy-mid-size, #bw-surlatable-frontend-template .bwt-nearby-store-info,
#bw-surlatable-frontend-template .bwt-filters-features h5.bwt-filters-features-title, #bw-surlatable-frontend-template .bwt-event-details-location-address .bwt-event-details-location-title,
#bw-surlatable-frontend-template .bwt-event-details-location-address, #bw-surlatable-frontend-template .bwt-nearby-event-date, #bw-surlatable-frontend-template .bwt-store-event-body-wrapper .bwt-store-event-body .bwt-store-event-description p,
#bw-surlatable-frontend-template .bwt-store-details-copy-mobile .bwt-store-parking-copy, #bw-surlatable-frontend-template .bwt-event-details-container .bwt-event-details-date-time,
#bw-surlatable-frontend-template .bwt-event-details-container .bwt-event-details-description, #bw-surlatable-frontend-template .bwt-event-details-location .bwt-store-location-mobile-title {
  font-size: 14px;
}
#bw-surlatable-frontend-template .bwt-more-info-toggle, #bw-surlatable-frontend-template .bwt-index-search-form-input, #bw-surlatable-frontend-template .bwt-stores-nearby-search-form,
#bw-surlatable-frontend-template .bwt-store-show-email-signup p.bwt-store-show-email-signup-description, #bw-surlatable-frontend-template .bwt-nearby-event-info .bwt-nearby-event-description p {
  font-size: 12px;
}
#bw-surlatable-frontend-template .bwt-store-hours-table-hours-column {
  text-transform: lowercase;
}
#bw-surlatable-frontend-template select {
  color: #777;
  font-weight: bold;
}
#bw-surlatable-frontend-template .bwt-index-main-title {
  color: #353333;
  font-size: 20px;
}
#bw-surlatable-frontend-template .bwt-event-details-location a.bwt-store-location-mobile-title:hover,
#bw-surlatable-frontend-template .bwt-event-details-location a.bwt-store-location-mobile-title:active,
#bw-surlatable-frontend-template .bwt-event-details-location a.bwt-store-location-mobile-title:focus {
  color: #777;
  text-decoration: underline;
}
#bw-surlatable-frontend-template .bwt-index-search-results-map-button:hover, #bw-surlatable-frontend-template .bwt-expand-button-expanded:hover,
#bw-surlatable-frontend-template .bwt-expand-button-collapsed:hover,
#bw-surlatable-frontend-template .bwt-store-mobile-explore-button-wrapper a.bwt-store-mobile-explore-button:hover {
  text-decoration: underline;
}
@media (max-width: 800px) {
  #bw-surlatable-frontend-template .bwt-store-address-mobile .bwt-mobile-store-phone-btn-wrapper,
  #bw-surlatable-frontend-template .bwt-index-store-body-details-address .bwt-mobile-store-phone-btn-wrapper,
  #bw-surlatable-frontend-template .bwt-index-store-body-details .bwt-store-phone-number,
  #bw-surlatable-frontend-template .bwt-stores-nearby-list-mobile .bwt-mobile-store-phone-btn-wrapper {
    border: 1px solid  #777;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
  }
  #bw-surlatable-frontend-template .bwt-store-address-mobile .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-prefix, #bw-surlatable-frontend-template .bwt-store-address-mobile .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-text,
  #bw-surlatable-frontend-template .bwt-index-store-body-details-address .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-prefix,
  #bw-surlatable-frontend-template .bwt-index-store-body-details-address .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-text,
  #bw-surlatable-frontend-template .bwt-index-store-body-details .bwt-store-phone-number .bwt-store-phone-number-link-prefix,
  #bw-surlatable-frontend-template .bwt-index-store-body-details .bwt-store-phone-number .bwt-store-phone-number-link-text,
  #bw-surlatable-frontend-template .bwt-stores-nearby-list-mobile .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-prefix,
  #bw-surlatable-frontend-template .bwt-stores-nearby-list-mobile .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-text {
    color: #777;
  }
  #bw-surlatable-frontend-template .bwt-store-address-mobile .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-prefix:hover, #bw-surlatable-frontend-template .bwt-store-address-mobile .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-prefix:active, #bw-surlatable-frontend-template .bwt-store-address-mobile .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-text:hover, #bw-surlatable-frontend-template .bwt-store-address-mobile .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-text:active,
  #bw-surlatable-frontend-template .bwt-index-store-body-details-address .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-prefix:hover,
  #bw-surlatable-frontend-template .bwt-index-store-body-details-address .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-prefix:active,
  #bw-surlatable-frontend-template .bwt-index-store-body-details-address .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-text:hover,
  #bw-surlatable-frontend-template .bwt-index-store-body-details-address .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-text:active,
  #bw-surlatable-frontend-template .bwt-index-store-body-details .bwt-store-phone-number .bwt-store-phone-number-link-prefix:hover,
  #bw-surlatable-frontend-template .bwt-index-store-body-details .bwt-store-phone-number .bwt-store-phone-number-link-prefix:active,
  #bw-surlatable-frontend-template .bwt-index-store-body-details .bwt-store-phone-number .bwt-store-phone-number-link-text:hover,
  #bw-surlatable-frontend-template .bwt-index-store-body-details .bwt-store-phone-number .bwt-store-phone-number-link-text:active,
  #bw-surlatable-frontend-template .bwt-stores-nearby-list-mobile .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-prefix:hover,
  #bw-surlatable-frontend-template .bwt-stores-nearby-list-mobile .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-prefix:active,
  #bw-surlatable-frontend-template .bwt-stores-nearby-list-mobile .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-text:hover,
  #bw-surlatable-frontend-template .bwt-stores-nearby-list-mobile .bwt-mobile-store-phone-btn-wrapper .bwt-store-phone-number-link-text:active {
    text-decoration: underline;
    color: #777;
  }
}
#bw-surlatable-frontend-template .bwt-index-store-body-details-address .bwt-mobile-store-phone-btn-wrapper {
  display: none;
}
@media (max-width: 800px) {
  #bw-surlatable-frontend-template .bwt-index-store-body-details-address .bwt-mobile-store-phone-btn-wrapper {
    display: block;
    padding: 5px;
    margin-top: -30px;
    float: right;
  }
}
#bw-surlatable-frontend-template .bwt-stores-nearby-list-mobile .bwt-mobile-store-phone-btn-wrapper {
  display: none;
}
@media (max-width: 500px) {
  #bw-surlatable-frontend-template .bwt-stores-nearby-list-mobile .bwt-mobile-store-phone-btn-wrapper {
    display: block;
    padding: 5px;
    margin-top: -20px;
    float: right;
  }
}
#bw-surlatable-frontend-template .bwt-store-show-services .bwt-store-services-list .bwt-store-service-wrapper
.bwt-store-service-body-container .bwt-appointment-modal-button-wrapper {
  text-align: center;
  width: 60%;
  background-color: #5b992a;
  padding: 5px 0px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 20%;
  border-radius: 3px;
  bottom: 20px;
  position: absolute;
}
#bw-surlatable-frontend-template .bwt-store-show-services .bwt-store-services-list .bwt-store-service-wrapper
.bwt-store-service-body-container .bwt-appointment-modal-button-wrapper a {
  color: #fff !important;
}
#bw-surlatable-frontend-template .bwt-store-show-services .bwt-store-services-list .bwt-store-service-wrapper
.bwt-store-service-body-container .bwt-appointment-modal-button-wrapper a:hover, #bw-surlatable-frontend-template .bwt-store-show-services .bwt-store-services-list .bwt-store-service-wrapper
.bwt-store-service-body-container .bwt-appointment-modal-button-wrapper a:active {
  color: #fff !important;
}
#bw-surlatable-frontend-template .bwt-store-show-services .bwt-store-services-list .bwt-store-service-wrapper
.bwt-store-service-body-container .bwt-appointment-modal-button-wrapper:hover, #bw-surlatable-frontend-template .bwt-store-show-services .bwt-store-services-list .bwt-store-service-wrapper
.bwt-store-service-body-container .bwt-appointment-modal-button-wrapper:active {
  text-decoration: underline !important;
}
@media (max-width: 450px) {
  #bw-surlatable-frontend-template .bwt-store-show-services .bwt-store-services-list .bwt-store-service-wrapper
  .bwt-store-service-body-container .bwt-appointment-modal-button-wrapper {
    font-size: 12px;
    bottom: 10px;
  }
}
#bw-surlatable-frontend-template .bwt-appointment-modal-button-wrapper .brickwork-button {
  color: #fff !important;
}
#bw-surlatable-frontend-template .bwt-appointment-modal-button-wrapper .brickwork-button:hover, #bw-surlatable-frontend-template .bwt-appointment-modal-button-wrapper .brickwork-button:active {
  text-decoration: underline !important;
  color: #fff !important;
}
#bw-surlatable-frontend-template .bwt-event-details-signup {
  background-color: #5b992a !important;
  padding: 5px 0px !important;
  font-size: 14px !important;
  color: #fff !important;
  border-radius: 3px !important;
  border: 1px solid #5b992a !important;
}
#bw-surlatable-frontend-template .bwt-event-details-signup a {
  color: #fff;
}
#bw-surlatable-frontend-template .bwt-event-details-signup a:hover, #bw-surlatable-frontend-template .bwt-event-details-signup a:active {
  color: #fff;
}
#bw-surlatable-frontend-template .bwt-event-details-signup:hover, #bw-surlatable-frontend-template .bwt-event-details-signup:active {
  text-decoration: underline !important;
}
#bw-surlatable-frontend-template .bwt-store-mobile-explore-button-wrapper {
  background-color: #5b992a;
  padding: 5px 0px;
  border-radius: 4px;
}
#bw-surlatable-frontend-template .bwt-store-mobile-explore-button-wrapper a.bwt-store-mobile-explore-button {
  color: #fff;
}
#bw-surlatable-frontend-template .bwt-store-mobile-explore-button-wrapper a.bwt-store-mobile-explore-button:hover {
  color: #fff;
}
#bw-surlatable-frontend-template #subscription-container input::placeholder {
  color: #777;
}
#bw-surlatable-frontend-template #subscription-container .bwt-store-show-email-signup-input {
  border: 1px solid #777777;
  padding: 10px 20px;
  color: #777;
  border-width: 1px;
  font-size: 12px;
  border-radius: 3px;
}
#bw-surlatable-frontend-template .bwt-nav-container ul a {
  text-transform: capitalize;
  color: #777777;
}
#bw-surlatable-frontend-template .bwt-store-service-body-container {
  position: relative;
  border: 1px solid #e7e7e7;
}
#bw-surlatable-frontend-template .bwt-store-service-body-container a {
  color: #fff;
}
#bw-surlatable-frontend-template .bwt-store-event {
  border: 1px solid #e7e7e7;
  position: relative;
}
#bw-surlatable-frontend-template .bwt-store-event .bwt-store-event-image-wrapper {
  padding-right: 0px;
}
#bw-surlatable-frontend-template .bwt-store-event .bwt-store-event-body {
  text-align: center;
  padding: 10px 0px;
}
#bw-surlatable-frontend-template .bwt-store-event-link-container, #bw-surlatable-frontend-template .bwt-nearby-event-link-container {
  text-align: center;
  width: 60%;
  background-color: #5b992a;
  padding: 5px 0px !important;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 auto;
  border-radius: 3px;
  font-family: 'Helvetica';
}
#bw-surlatable-frontend-template .bwt-store-event-link-container a, #bw-surlatable-frontend-template .bwt-nearby-event-link-container a {
  color: #fff !important;
}
#bw-surlatable-frontend-template .bwt-store-event-link-container:hover, #bw-surlatable-frontend-template .bwt-store-event-link-container:active, #bw-surlatable-frontend-template .bwt-store-event-link-container .bwt-store-event-link:hover, #bw-surlatable-frontend-template .bwt-store-event-link-container .bwt-store-event-link:active,
#bw-surlatable-frontend-template .bwt-store-event-link-container a:hover, #bw-surlatable-frontend-template .bwt-store-event-link-container a:active, #bw-surlatable-frontend-template .bwt-nearby-event-link-container:hover, #bw-surlatable-frontend-template .bwt-nearby-event-link-container:active, #bw-surlatable-frontend-template .bwt-nearby-event-link-container .bwt-store-event-link:hover, #bw-surlatable-frontend-template .bwt-nearby-event-link-container .bwt-store-event-link:active,
#bw-surlatable-frontend-template .bwt-nearby-event-link-container a:hover, #bw-surlatable-frontend-template .bwt-nearby-event-link-container a:active {
  color: #fff;
  text-decoration: underline !important;
}
@media (max-width: 450px) {
  #bw-surlatable-frontend-template .bwt-store-event-link-container, #bw-surlatable-frontend-template .bwt-nearby-event-link-container {
    font-size: 12px;
  }
}
#bw-surlatable-frontend-template .bwt-store-feature-title-mobile, #bw-surlatable-frontend-template .bwt-store-services-title-mobile,
#bw-surlatable-frontend-template .bwt-store-events-title-mobile, #bw-surlatable-frontend-template .bwt-store-events-title-mobile,
#bw-surlatable-frontend-template .bwt-store-show-nearby-title-mobile, #bw-surlatable-frontend-template .bwt-store-location-mobile-title {
  color: #6b5555;
  font-size: 18px;
  font-family: 'Helvetica';
}
#bw-surlatable-frontend-template span.bwt-more-info-toggle {
  font-family: 'Helvetica';
  color: #5b992a;
}
#bw-surlatable-frontend-template .bwt-store-show-email-signup p.bwt-store-show-email-signup-description {
  margin-bottom: 0px;
  color: #333;
}
#bw-surlatable-frontend-template #topNavSearch, #bw-surlatable-frontend-template #topNavSearchMobile {
  display: none;
}
#bw-surlatable-frontend-template .ui-widget {
  font-family: 'Helvetica';
  font-size: 14px;
}
#bw-surlatable-frontend-template .ui-widget-header {
  background-color: #fff !important;
  border: none !important;
  background: none !important;
  color: #222222 !important;
  font-weight: normal !important;
}
#bw-surlatable-frontend-template .ui-datepicker-prev span, #bw-surlatable-frontend-template .ui-datepicker-next span {
  display: none !important;
}
#bw-surlatable-frontend-template .ui-datepicker-prev, #bw-surlatable-frontend-template .ui-datepicker-next {
  top: auto !important;
}
#bw-surlatable-frontend-template .ui-state-hover, #bw-surlatable-frontend-template .ui-widget-content .ui-state-hover {
  background: none !important;
  border: none !important;
}
#bw-surlatable-frontend-template .ui-state-default, #bw-surlatable-frontend-template .ui-widget-content .ui-state-default {
  border: none !important;
  background: none !important;
  color: #777777;
  font-family: 'Helvetica';
  text-align: center !important;
}
#bw-surlatable-frontend-template .ui-state-highlight, #bw-surlatable-frontend-template .ui-widget-content .ui-state-highlight {
  border: none !important;
  background: none !important;
}
#bw-surlatable-frontend-template .bwt-store-phone-number {
  position: relative;
}
#bw-surlatable-frontend-template .bwt-store-event-body-wrapper .bwt-store-event-title a:hover,
#bw-surlatable-frontend-template .bwt-store-event-body-wrapper .bwt-store-event-title a:active {
  color: #777;
  text-decoration: underline;
}
