body {
  background:#fff !important;
}

.bw-display-layer .store-type-125,
label[for=type_125] {
  display: none;
}

body .bw-display-layer .bwt-store-email-link {
  display: none !important;
}

body #footer-promo-wrapper {
  display:none;
}

body .client_footer {
  margin-top:0px;
}

body #mw_footer {
  display:none;
}

#hform1 {
  display:none;
}

.moovweb_globalbanner {
  display:none;
}

#mw_image_promo_banner {
  display:none;
}

#hform1 {
  height:30px;
}

.client_footer .bw-display-layer {
  display: none;
}

body {
  text-align: left !important;  
}

.handle--hidden {
  background-image: url("/images/Soma_Lace_Bgnd.jpg") !important;
}

.bw-display-layer-container {
  margin-top:0 !important;
}

.bw-display-layer {
  padding: 1rem 0 !important;
}

.bw-display-layer p, .bw-display-layer div {
  font-size: 13px !important;
  line-height: 19.2px !important;
}

.bw-display-layer .bwt-store-body h4 {
  font-family: Arial, Helvetica, sans-serif !important;
}

.bw-display-layer .store-type-125, label[for=type_125] {
  display: none;
}

.bw-display-layer .bwt-store-main-wrap div, .bw-display-layer .bwt-store-main-wrap span, .bw-display-layer .bwt-store-main-wrap td,
.bw-display-layer .bwt-store-main-wrap p {
  font-size: 13px !important;
  line-height: 19.2px !important;
  letter-spacing: 0 !important;
}

.bw-display-layer .bwt-store-main-wrap h4 {
  font-size: 13px !important;  
  line-height: 19.2px !important;
  letter-spacing: 0 !important;
}

.bw-display-layer .bwt-index-search-filters-container div, .bw-display-layer .bwt-index-search-filters-container span, .bw-display-layer .bwt-index-search-filters-container td,
.bw-display-layer .bwt-index-search-filters-container h5 {
  font-size: 13px !important;
  line-height: 19.2px !important; 
  letter-spacing: 0 !important;
}

.bw-display-layer .bwt-index-header-container button.bwt-index-search-form-location-button {
  font-size: 13px !important;
  line-height: 19.2px !important; 
  letter-spacing: 0 !important;
}

.bw-display-layer .bwt-index-header-container button.bwt-index-search-form-location-button .bwt-index-search-form-location-button-text {
  margin-left: -1rem !important;
}

.bw-display-layer, 
.bw-display-layer .bwt-index-search-results-map-button, 
.bw-display-layer .bwt-index-filter-body .bwt-filters-features-title,
.bw-display-layer .bwt-store .bwt-store-aside .bwt-store-description h1,
.bw-display-layer .bwt-store-events-list .bwt-store-event .bwt-store-event-title,
.bw-display-layer .bwt-store-list .bwt-store-body .bwt-store-services-appointment,
.row .bw-display-layer .bwt-store .bwt-store-header-details,
.row .bw-display-layer .bwt-store-header-type,
.row .bw-display-layer .bwt-store-service-title,
.row .bw-display-layer .bwt-store-service-description,
.row .bw-display-layer .bwt-index-search-form-input {
  font-family: Arial, Helvetica, sans-serif !important;
}

.bw-display-layer h1, .bw-display-layer h2, .bw-display-layer h3, 
.bw-display-layer .bwt-index-search-form-submit-text,
.bw-display-layer .bwt-event-details-location-title,
.bw-display-layer .bwt-pagination {
  font-family: "BentonModernOne", Georgia, Times, serif !important;
}

.bw-display-layer .bwt-store-show-primary .bwt-store-header-title a {
  pointer-events: none;
  cursor: default;
}

.bw-display-layer .bwt-store-header-title {
  letter-spacing: 0 !important;
}

.bw-display-layer .bwt-store-header-title a:hover {
  text-decoration: none !important;
  border-bottom: 1px solid #000;
}

.bw-display-layer .bwt-store-show .bwt-store-header-title {
  font-size: 1.66667rem !important;
  letter-spacing: 0 !important;
}

.bw-display-layer .bwt-store-email-link {
  display: none !important;
}

.bw-display-layer .bwt-event-details-phone-prompt .bwt-store-phone-number .bwt-store-phone-number-link-prefix {
  vertical-align: text-top !important;
}

.bw-display-layer .bwt-pagination {
  text-transform: capitalize !important;
  font-style: italic !important;
}

.bw-display-layer .bwt-store .bwt-store-detail-link-wrapper a.bwt-store-detail-link,
.bw-display-layer .bwt-index-search-form-submit-text,
.bw-display-layer a.bwt-store-event-link {
  font-family: "BentonModernOne", Georgia, Times, serif !important;
  font-style: italic;
  text-transform: capitalize !important;
  font-size: 0.85rem;
}

.bw-display-layer .bwt-store-event-title a {
  font-weight: normal;
}

.bw-display-layer .bwt-store-event-dates {
  font-size: 13px !important;
  margin-top: 0 !important;
}

.bw-display-layer .bwt-store-event-description {
  font-size: 13px !important;
}

.bw-display-layer .bwt-event-details-date-time {
  margin-bottom: 0.5rem !important;
}

.bw-display-layer .bwt-store .bwt-store-alert {
  background-color: #f3e4d7 !important;
}

.bw-display-layer .bwt-store .bwt-store-alert span, 
.bw-display-layer .bwt-store .bwt-store-alert h4 {
  color: #000 !important;
}

.row .bw-display-layer .bwt-events-main .bwt-events-event-details .bwt-event-details-date-time {
  font-weight: 600;
}

.bw-display-layer .bwt-event-details-location-title {
  margin-bottom: 0.2rem !important;
}

.bw-display-layer .bwt-event-details-location-address {
  margin-top: 0.5rem !important;
}

.bw-display-layer .bwt-event-details-location-address-line:first-child {
  font-weight: normal !important;
}

.bw-display-layer .bwt-store-events-list .bwt-store-event .bwt-store-event-title {
  font-size: 1rem !important;
}

.bwt-store-call-modal .bwt-store-call-title, .bwt-store-call-modal .bwt-store-call-response-title, .bwt-events-rsvp-modal .bwt-events-rsvp-modal-title, .bwt-events-rsvp-modal .bwt-events-rsvp-success-title, .bwt-events-rsvp-modal .bwt-events-rsvp-failure-title {
  font-family: "BentonModernOne", Georgia, Times, serif !important;
}

.bwt-store-call-modal .bwt-store-call-response-button, .bwt-store-call-modal .bwt-store-call-button, .bwt-events-rsvp-modal .bwt-events-rsvp-modal-button, .bwt-events-rsvp-modal .bwt-events-rsvp-success-button {
  font-family: "BentonModernOne", Georgia, Times, serif !important;
}

/* iFrame Styling */

@font-face {
  font-family: 'BentonModernOne';
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/chicos/BentonModernOne-Roman.otf') format("opentype");
}

.appointment-rsvp-container div *:not(.bw-load-next-dates):not(.bw-load-previous-dates) {
  font-family: "BentonModernOne", Georgia, Times, serif !important;
}