body {
  text-align: left !important;
}

#header {
  background-color: #000;
}

.bw-display-layer-container {
  background-color: #fff;
  margin: 0 !important;
  max-width: 100% !important;
}

.bw-display-layer {
  padding: 4rem 2rem !important;
}

.bw-display-layer, 
.bw-display-layer .bwt-index-search-results-map-button, 
.bw-display-layer .bwt-index-filter-body .bwt-filters-features-title,
.bw-display-layer .bwt-store .bwt-store-aside .bwt-store-description h1,
.bw-display-layer .bwt-store-events-list .bwt-store-event .bwt-store-event-title,
.row .bw-display-layer .bwt-store .bwt-store-header-details,
.row .bw-display-layer .bwt-store-header-type,
.row .bw-display-layer .bwt-store-service-title,
.row .bw-display-layer .bwt-store-service-description,
.row .bw-display-layer .bwt-index-search-form-input {
  font-family: Arial, "Helvetica Neue", Helvetica, Roboto, sans-serif !important;
}

.bw-display-layer h1, .bw-display-layer h2, .bw-display-layer h3, 
.bw-display-layer .bwt-event-details-location-title {
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif !important;
}

.bw-display-layer .bwt-store .bwt-store-detail-link-wrapper a.bwt-store-detail-link,
.bw-display-layer .bwt-index-search-form-submit-text,
.bw-display-layer a.bwt-store-event-link {
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif !important;
  font-style: italic;
  text-transform: capitalize !important;
  font-size: 0.85rem;
}

.bw-display-layer .bwt-store .bwt-store-alert {
  background-color: #f3e4d7 !important;
}

.bw-display-layer .bwt-store .bwt-store-alert span, 
.bw-display-layer .bwt-store .bwt-store-alert h4 {
  color: #000 !important;
}

.row .bw-display-layer .bwt-events-main .bwt-events-event-details .bwt-event-details-date-time {
  font-weight: 600;
}

.bw-display-layer .bwt-index-header-container button.bwt-index-search-form-location-button {
  max-width: 18% !important;
}

.bw-display-layer .bwt-event-details-location-address-line:first-child {
  font-weight: normal !important;
}

.bw-display-layer .bwt-store-events-list .bwt-store-event .bwt-store-event-title {
  font-size: 1rem !important;
}


.bw-display-layer .bwt-event-details-location-address-line:first-child {
  font-weight: normal !important;
}

.bw-display-layer .bwt-store .bwt-store-aside .bwt-store-description h1 {
  font-weight: bold !important;
}

.bw-display-layer .bwt-store-events-list .bwt-store-event .bwt-store-event-title {
  font-size: 1rem !important;
}


/* iFrame Styling */

.appointment-rsvp-container div *:not(.bw-load-next-dates):not(.bw-load-previous-dates) {
  font-family: Arial, "Helvetica Neue", Helvetica, Roboto, sans-serif !important;
}