.site_header .navigation
{
    z-index: 999 !important;
}

.bw-display-layer .bwt-store-main-body
{
    display: block !important;
}

/* Map Pin */
.bw-display-layer .bwt-store-map-pin-holder,
.bw-display-layer .bwt-events-map-pin-holder
{
    background: url('https://s3.amazonaws.com/assets.brickworksoftware.com/nyx/NYX_pin_logo.png') no-repeat !important;
}

.bw-display-layer .footer
{
    margin: 0 !important;
    padding-bottom: 10px !important;
}

.bwt-index-store-body
{
    -webkit-box-shadow: 0 1px 11px -1px rgba(145,145,145,.75);
       -moz-box-shadow: 0 1px 11px -1px rgba(145,145,145,.75);
            box-shadow: 0 1px 11px -1px rgba(145,145,145,.75);
}

.bw-display-layer,
.bw-display-layer .bwt-index,
.bw-app
{
    background: #fff !important;
}

/* Brand Fonts */

h1,
h2,
h3,
h4,
h5,
h6,
p
{
    font-family: 'HelveticaNeueW01-57Cn', arial, sans-serif !important;
    font-size: 100%;
}

p
{
    text-transform: none !important;
}

.bwt-store-main-description h4
{
    color: #999 !important;
}

.bw-display-layer .bwt-events-main .bwt-events-social-title
{
    text-transform: uppercase !important;
}

.row .bw-display-layer .bwt-stores-nearby-store-title,
.row .bw-display-layer .bwt-stores-nearby-alert
{
    font-style: normal;

    color: #000;
}

.bw-display-layer .bwt-store-address-line
{
    border-bottom: none !important;
}

/* Bold Condensed */
.bw-display-layer .bwt-events-main .bwt-event-details-title,
.bw-display-layer .bwt-store-nav-list li a,
.bw-display-layer .bwt-store-event-title a,
.bw-display-layer .bwt-index-store-body-header-title,
.bw-display-layer .bwt-filters-features-title,
.bw-display-layer .bwt-store-header-title a,
.bw-display-layer .bwt-events-main .bwt-events-social-title,
.bw-display-layer .bwt-event-details-location-title,
.row .bw-display-layer .bwt-store-service-title,
.row .bw-display-layer .bwt-events-main .bwt-event-details-signup-button,
.bw-display-layer .bwt-stores-nearby-store-title,
.row .bw-display-layer .bwt-stores-nearby-store-title
{
    font-family: 'HelveticaNeueW01-77BdCn_692722', arial, sans-serif !important;
    font-weight: 300 !important;
}

/* Reg Condensed */
.bw-display-layer .bwt-index-search-form-submit-text,
.bw-display-layer .bwt-events-main .bwt-event-details-date-time,
.bw-display-layer .bwt-events-main .bwt-events-social-title,
.bw-display-layer .bwt-events-main .bwt-events-main-store-link,
.bw-display-layer .bwt-event-details-location-address,
.bw-display-layer .bwt-store-phone-number-link-text,
.bw-display-layer .bwt-store-email-link a,
.bw-display-layer .bwt-store-map-button,
.bw-display-layer .bwt-events-map-button,
.bwt-store-call-placeholder,
.bwt-rsvp-first-name-placeholder,
.bwt-rsvp-last-name-placeholder,
.bwt-rsvp-email-placeholder,
.bwt-rsvp-email-opt-placeholder,
.bwt-appt-input-placeholder,
.bw-app .bwt-store-call-button,
.bw-app .bwt-store-call-response-button,
.bw-app .bwt-events-rsvp-modal-button,
.bw-app .bwt-events-rsvp-success-button,
.bw-app .bwt-store-appt-modal-button,
.bw-app .bwt-store-appt-success-button,
.bw-display-layer .bwt-store-hours-table,
.bw-display-layer .bwt-store-address-line,
.row .bw-display-layer .bwt-store-service-link,
.row .bw-display-layer .bwt-appointment-modal-button-wrapper .brickwork-button,
.row .bw-display-layer .bwt-store-address-contextual,
.row .bw-display-layer .bwt-store-event-dates,
.row .bw-display-layer .bwt-store-event-link,
.row .bw-display-layer .bwt-stores-nearby-store-description,
.row .bw-display-layer .bwt-index .bwt-index-store-body-details-address,
.row .bw-display-layer .bwt-index .bwt-index-search-form-input,
.row .bwt-index-search-results-notice-details,
.row .bw-display-layer .bwt-index .bwt-index-filters-expand-button,
.row .bw-display-layer .bwt-index .bwt-index-search-results-map-button,
.bw-display-layer label,
.bw-display-layer .bwt-store-title-mobile,
.bw-display-layer .bwt-store-services-mobile-title,
.bw-display-layer .bwt-store-show-feed-mobile-title,
.bw-display-layer .bwt-store-events-mobile-title,
.bw-display-layer .bwt-store-stylists-mobile-title,
.bw-display-layer .bwt-store-main-hours-info-mobile-title,
.bw-display-layer .bwt-mobile-carousel-controls-feedback
{
    font-family: 'HelveticaNeueW01-57Cn', arial, sans-serif !important;
}

/* Button Styling */

.row .bw-display-layer .bwt-store-map-button,
.row .bw-display-layer .bwt-events-map-button,
.row .bw-display-layer .bwt-events-main .bwt-events-main-store-link,
.row .bw-display-layer .bwt-store-main-search-link,
.bw-app .bwt-store-call-button,
.bw-app .bwt-store-call-response-button,
.bw-app .bwt-events-rsvp-modal-button,
.bw-app .bwt-events-rsvp-success-button,
.bw-app .bwt-store-appt-modal-button,
.bw-app .bwt-store-appt-success-button,
.row .bw-display-layer .bwt-store-service-link,
.row .bw-display-layer .bwt-appointment-modal-button-wrapper .brickwork-button,
.row .bw-display-layer .bwt-index .bwt-index-search-form-submit
{
    color: #fff;
    border: none;
    background: #e9168c;
}

.row .bw-display-layer .bwt-store-map-button:hover,
.row .bw-display-layer .bwt-events-map-button:hover,
.row .bw-display-layer .bwt-events-main .bwt-events-main-store-link:hover,
.row .bw-display-layer .bwt-store-main-search-link:hover,
.bw-app .bwt-store-call-button:hover,
.bw-app .bwt-store-call-response-button:hover,
.bw-app .bwt-events-rsvp-modal-button:hover,
.bw-app .bwt-events-rsvp-success-button:hover,
.bw-app .bwt-store-appt-modal-button:hover,
.bw-app .bwt-store-appt-success-button:hover,
.row .bw-display-layer .bwt-store-service-link:hover,
.row .bw-display-layer .bwt-appointment-modal-button-wrapper .brickwork-button:hover,
.row .bw-display-layer .bwt-index .bwt-index-search-form-submit:hover
{
    background: #d90c7f !important;
}

.bw-display-layer .bwt-index .bwt-index-store-explore .bwt-index-store-body-details-explore-link
{
    color: #fff !important;
    border: none !important;
    background: #e9168c !important;
}

.bw-display-layer .bwt-store-title-mobile
{
    padding: 20px 0 10px !important;
}

.bw-display-layer .bwt-index .bwt-index-store-explore .bwt-index-store-body-details-explore-link:hover
{
    color: #e9168c !important;
    background: #fff !important;
}

.row .bw-display-layer .bwt-events-main .bwt-event-details-signup-button
{
    color: #e9168c;
    border-color: #e9168c;

    border-size: 2px;
}

.row .bw-display-layer .bwt-events-main .bwt-event-details-signup-button:hover
{
    color: #fff;
    background: transparent;
}

.row .bw-display-layer .bwt-events-main .bwt-events-main-store-link,
.row .bw-display-layer .bwt-store-main-search-link
{
    opacity: .75;
}

.bw-display-layer .bwt-store-main-search-link
{
    display: inline-flex;

    margin: 10px 25px;
}

.row .bw-display-layer .bwt-store-main-search-link:hover
{
    opacity: 1;
}

/* Button Hover */
.row .bw-display-layer .bwt-events-social-facebook:hover,
.row .bw-display-layer .bwt-events-social-twitter:hover,
.row .bw-display-layer .bwt-events-social-email:hover
{
    color: #e9168c;
}

/* Hidden Sections */

.bwt-events-other-events,
.bwt-store-show-stylists,
.bwt-store-show-email-signup,
.fa-mobile-phone:before,
.fa-mobile:before,
.bwt-store-email-link,
.bw-display-layer .bwt-store-phone-number-link-prefix:before,
.fa-envelope-o:before,
.bw-display-layer .bwt-events-social-email:before,
.bw-display-layer .bwt-store-email-link-prefix:before
{
    display: none !important;
}

/* Event Page Styling */
.row .bw-display-layer .bwt-events-main .bwt-event-details-date-time
{
    font-size: 11px;
}

.bwt-events-rsvp-modal-description
{
    margin-top: 25px !important;
}

/* Link Styling */
.bw-display-layer .bwt-store-phone-number-link:active,
.bw-display-layer .bwt-store-phone-number-link:hover,
.bw-display-layer .bwt-store-phone-number-link:focus,
.bw-display-layer .bwt-store-email-link:active,
.bw-display-layer .bwt-store-email-link:hover,
.bw-display-layer .bwt-store-email-link:focus,
.bw-display-layer .bwt-store-email-link a:active,
.bw-display-layer .bwt-store-email-link a:hover,
.bw-display-layer .bwt-store-email-link a:focus,
.row .bw-display-layer .bwt-store-event-link:hover,
.row .bw-display-layer .bwt-index .bwt-index-store-body-details-explore-link:hover,
.row .bwt-index-filters-expand-button:hover,
.row .bwt-index-search-results-map-button:hover
{
    text-decoration: underline;

    color: #e9168c !important;
}

.row .bw-display-layer .bwt-store-event-link,
.row .bwt-index-filters-expand-button,
.row .bwt-index-search-results-map-button,
.bw-display-layer .bwt-store-phone-number-link-text,
.bw-display-layer .bwt-store-upper-address-bottom a,
.bw-display-layer .bwt-index .bwt-index-store-body-details-button-symbol
{
    color: #e9168c !important;
}

.bw-display-layer .bwt-store-nav-list li a
{
    color: #000 !important;
}

.bw-display-layer .bwt-store-nav-list li a:hover
{
    color: #e9168c !important;
}


.bw-display-layer a,
.bw-display-layer button
{
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
    letter-spacing: .05rem !important;
}

.bw-display-layer .bwt-index .bwt-index-store-body-details-explore-link
{
    font-family: 'HelveticaNeueW01-57Cn', arial, sans-serif !important;

    width: 90% !important;

    color: #e9168c !important;
}

/* Store Page Styling */

.row .bw-display-layer .bwt-store-service-image div
{
    background-size: cover !important;
}

.row .bwt-store-hours
{
    font-weight: 700;
}

.row .bw-display-layer .bwt-store-service-title
{
    margin-bottom: 12px;
}

.row .bw-display-layer .bwt-store-show-feed-title,
.row .bw-display-layer .bwt-store-services-title,
.row .bw-display-layer .bwt-store-show-email-signup-title,
.row .bw-display-layer .bwt-store-events-title,
.row .bw-display-layer .bwt-store-stylists-title,
.row .bw-display-layer .bwt-store-show-about-container h4,
.row .bw-display-layer .bwt-stores-nearby-title,
.row .bw-display-layer .bwt-events-more-events-title,
.row .bw-display-layer .bwt-events-nearby-events-title
{
    font-size: 30px;
    font-weight: 400;
}

.bw-display-layer .bwt-store-event-title a
{
    font-size: 26px;
}

/* Grad */
.bwt-store-map-layer,
.bwt-store-image-cover,
.bwt-map-cover
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(255,255,255,0);
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.7));
    background:      -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.7));
    background:    -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.7));
    background:         linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.7));
}

.bwt-index-store-body-cover
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(255,255,255,0);
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(233,22,140,.7));
    background:      -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(233,22,140,.7));
    background:    -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(233,22,140,.7));
    background:         linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(233,22,140,.7));
}

bwt-map-cover
{
    display: inline-block !important;
}

.row .bw-display-layer .bwt-store-hours-table-date-column,
.row .bw-display-layer .bwt-store-hours-table-hours-column
{
    font-weight: 700;
}


.row .bw-display-layer .bwt-store-phone-number-link-prefix
{
    width: 15px;
    height: 20px;

    background: url('https://s3.amazonaws.com/assets.brickworksoftware.com/nyx/nyx_phone_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.row .bw-display-layer .bwt-events-social-email
{
    width: 15px;
    height: 13px;

    background: url('https://s3.amazonaws.com/assets.brickworksoftware.com/nyx/nyx_mail_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.row .bw-display-layer .bwt-index .bwt-index-store-body-wrapper
{
    background: rgba(56, 56, 56, .5);
}

.row .bw-display-layer .bwt-index .bwt-index-store-body-wrapper:hover
{
    background: rgba(56, 56, 56, .75);
}

.row .bw-display-layer .bwt-index .bwt-index-main-title
{
    font-size: 30px;
    font-weight: 300;
}

.row .bw-display-layer .bwt-index .bwt-index-search-form-input
{
    font-style: normal;
}

.row .bw-display-layer .bwt-index .bwt-index-search-results-notice-details
{
    font-weight: 700;

    letter-spacing: 1.25px;
}

.row .bw-display-layer .bwt-index .bwt-store-phone-number-link-text,
.bw-display-layer .bwt-mobile-nav-collapse-trigger
{
    color: #e9168c !important;
}

.bw-display-layer .bwt-store-services-mobile-title,
.bw-display-layer .bwt-store-show-feed-mobile-title,
.bw-display-layer .bwt-store-events-mobile-title,
.bw-display-layer .bwt-store-stylists-mobile-title,
.bw-display-layer .bwt-store-main-hours-info-mobile-title
{
    color: #fff !important;
    border-top: 1px solid #fff !important;
    background: #000 !important;
}

.row .bw-display-layer .bwt-store-service
{
    border: none !important;
}

/*Store Index Map Black Gradient*/
.bwt-index-store-body-cover {
   background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.7)) !important;
}

/*Store page mobile phone number alignment*/
@media screen and (max-width:513px) {
   .bwt-store-phone-number-link-text {
         vertical-align: baseline !important;
   }
   .bwt-store-upper-address-bottom a {
      font-size: 0.75rem !important;
   }
}

/*Store Page Background Image*/
.row .bw-display-layer .bwt-store-show-loading-content .bwt-store-hero-image {
   background-repeat: no-repeat !important;
   background-size: cover !important;
}

/*Fix text overlap in RSVP confirmation view*/
p.bwt-events-rsvp-success-details {
   margin-top: 30px !important;
}

/*Fix split hours on iPhone5 store pages*/
@media screen and (max-width: 330px) {
   .bw-display-layer .bwt-store-hours-table {
         font-size: 10px !important;
   }
}

/*Back to Store Button Hover State*/
.bwt-events-main-store-link:hover {
   color: #fff !important;
}

/*Store sub-nav font size*/
.bwt-store-nav-list { font-size: 0.9rem !important; }

/*Button letter Kerning*/
.bwt-store-map-button-text, .bwt-store-service .brickwork-button, .bwt-events-map-button, 
.bwt-index-store-body-details-explore-link, .bwt-store-map-button {
   letter-spacing: .05rem !important;
}

.bwt-store-services-title, .bwt-store-events-title { 
   font-size: 32px !important; 
   font-family: "HelveticaNeueW01-47LtCn_692686", arial, sans-serif !important;
}

.bwt-store-header-title {
   font-family: "HelveticaNeueW01-47LtCn_692686", arial, sans-serif !important;
}
