/* 
  Breadcrumbs 
    and 
      X button

*/


.bw-appointment-header-close::after {
  content: 'X';
  visibility: visible;
}
.bw-appointment-header-close {
  visibility: hidden;
  color: #666;
}





@media (min-width:770px){
  .bw-appointment-header-close{
    margin: 13px;
  }
  .bw-appointment-header-close::after {
    top: 3px;
  }
}



/* Tablets and mobile */
@media (max-width: 769px) {
  .bw-appointment-header-column a, .bw-appointment-header-column span {
    height: 10px;
  }
  .bw-appointment-header-column.selected, 
  .bw-appointment-header-column.selected a,
  .bw-appointment-header-column.completed, 
  .bw-appointment-header-column.completed a, 
  .bw-appointment-header-column.selected span,
  .bw-iframe-container .bw-appointment-header .bw-appointment-header-column.completed a {
    background-color: #666 !important;
    color: rgba(0,0,0,0) !important;
    border-right: 0.5px solid white;
  }
  .bw-iframe-container .bw-appointment-header-row .small-5 {
    background-color: #d8d8d8;
    color: rgba(0,0,0,0) !important;
  }
  .bw-iframe-container .appointment-rsvp-container .title h1, 
  .bw-appointment-step-container, 
  .bw-iframe-container .appointment-rsvp-container #enter-contact-info .title h1 {
    margin-top: 1.5rem !important;
  }
  .appointment-rsvp-container .appointment-enterinfo-container {
    margin-top: 0 !important;
  }
  .bw-iframe-container .appointment-rsvp-container #enter-contact-info {
    margin-top: 0rem !important;
  }
 
}