/* 
  Choose Time 
  
*/

.appointment-rsvp-container #select-appointment-time #appointment_date::placeholder {
  font-size: 12px;
}

.appointment-rsvp-container #appointment-options #mobile_date_select {
  font-size: 12px;
  color: #000000;
}

.appointment-rsvp-container #select-appointment-time .appointment-slots .day_container .day_segment .segment_header .num_available {
  color: #666666;
}

.appointment-rsvp-container input[type="text"]#mobile_date_select {
  padding: 8px 5px 8px 40px;
}

@media only screen and (max-width: 640px) {
  .bw-iframe-container .dayname_only {
    font-size: 16px !important;
  }

  .search_header .date_selection_container .date_selector .small_day {
    font-size: 16px;
  }

  .search_header .date_selection_container .date_selector {
    width: 105%;
  }

  .bw-iframe-container .appointment-rsvp-container #select-appointment-time {
    margin-top: 30px !important;
  }

  .bw-iframe-container .choose_time_text {
    margin-left: 0% !important;
  }
}

@media only screen and (max-width: 400px) {
  .bw-iframe-container .dayname_only {
    font-size: 12px !important;
  }

  .search_header .date_selection_container .date_selector .small_day {
    font-size: 12px;
  }
}
