
.bw-iframe-container .store_open_hours span b {
  font-weight: normal;
}
@-moz-document url-prefix() { 
  .bw-iframe-container .appointment-rsvp-container .local-stores .container .select_store_button {
    pointer-events: auto;
  }  
}

@media (min-width: 780px) {
  .bw-iframe-container .appointment-rsvp-container .store-container {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;

  }
  .bw-iframe-container .store_miles_away, .bw-iframe-container .store_open_hours {
    font-size: 11px;

  }
  .bw-iframe-container a.choose-store-link.appointment-link.button-clean + table {
    display: none;
  }
  .bw-iframe-container #service-appointment-stores h6, .bw-iframe-container #service-appointment-stores h4{
    font-size: 12px;
  }
  .bw-iframe-container .appointment-rsvp-container .local-stores .select_store_button {
    width: 50%;
  }
}
@media (min-width: 560px) and (max-width: 769px) {
  .bw-iframe-container .appointment-rsvp-container .store-container > div:nth-child(2) > div:first-of-type {
      width: 100%;
  }


  .bw-iframe-container .appointment-rsvp-container .local-stores .container:nth-child(2) {
    margin-top: 6%;
  }
  .bw-iframe-container .appointment-rsvp-container .local-stores .container:nth-child(2) .select_store_button {
    margin-top:  28px;
  }
  .appointment-rsvp-container > div:last-of-type > .large-4.medium-6.columns.end {
    width: 100%;
  }
  .service-appointment-stores {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    flex-wrap: wrap;
  }
  .bw-iframe-container .appointment-rsvp-container .local-stores .container {
    flex: 0 0 50%;
  }

}
@media (max-width: 769px) {
  .bw-appointment-header-column a, .bw-appointment-header-column span {
    height: 10px;
  }
  .bw-appointment-header-column.selected, 
  .bw-appointment-header-column.selected a,
  .bw-appointment-header-column.completed, 
  .bw-appointment-header-column.completed a, 
  .bw-appointment-header-column.selected span,
  .bw-iframe-container .bw-appointment-header .bw-appointment-header-column.completed a {
    background-color: #666 !important;
    color: rgba(0,0,0,0) !important;
    border-right: 0.5px solid white;
  }
  .bw-iframe-container .bw-appointment-header-row .small-5 {
    background-color: #d8d8d8;
    color: rgba(0,0,0,0) !important;
  }
}
@media (max-width: 414px) {
  .bw-iframe-container .appointment-rsvp-container .title h1, 
  .bw-appointment-step-container, 
  .bw-iframe-container .appointment-rsvp-container #enter-contact-info .title h1 {
    margin-top: 1.5rem !important;
  }
  .bw-iframe-container .store_miles_away, .bw-iframe-container .store_open_hours {
    font-size: 13px;
  }
  .bw-iframe-container .store_miles_away {
    width: 40%;
  }
  .bw-iframe-container .store_open_hours {
    width: 60%;
  }
  .bw-iframe-container .appointment-rsvp-container .store-container .address h4 {
    font-size: 14px;
  }
  .bw-iframe-container .bwt-store-address ,
   .bw-iframe-container .appointment-rsvp-container .store-container .address td,
    .bw-appointment-store-address > div > table + div + div + div,
    .bw-appointment-store-address > div > table + div + div  {
      font-size: 14px !important;
    }
  .bwt-appointment-choose-time .row:nth-child(3) > div:nth-child(4) {
    width: 90%;
    margin: 0 0 0 5%;
  }
  .bw-iframe-container .appointment-rsvp-container .service-appointment-stores {
    width: 77%;
    margin-left: 17%;
  }
  .bw-iframe-container #service-appointment-stores div:first-of-type .name_distance {
    font-size: 11px; 
  }
  .bw-iframe-container .appointment-rsvp-container .local-stores:before {
    width: 55%;
    margin-left: 16%;
  }
}
