/*
  Choose Appointment Type

*/

.bw-iframe-container .bw-appointment-service {
  height: 368px !important;
}

@media (max-width: 572px) {
  .bw-iframe-container a.appointment_link.brickwork-button {
    width: 87.5%;
  }

  .bw-iframe-container .bw-appointment-service .bw-appointment-service-link-duration {
    font-weight: 600;
    font-size: 11px;
  }

  .bw-appointment-step-container .bw-appointment-step-container-choose-service {
    margin-top: 30px;
  }
}
