/* 
  Choose Time 
  
*/

.appointment-rsvp-container #select-appointment-time #appointment_date::placeholder {
  font-size: 12px;
}

.appointment-rsvp-container #appointment-options #mobile_date_select {
  font-size: 12px;
  color: #000000;
}

.appointment-rsvp-container #select-appointment-time .appointment-slots .day_container .day_segment .segment_header .num_available {
  color: #666666;
}

@media (max-width: 992px) {
  .bw-iframe-container .day-date-column .date_selector .small_day {
    padding-bottom: 21px;
  }
}

@media only screen and (max-width: 640px) {
  .bw-iframe-container .dayname_only {
    font-size: 16px !important;
  }

  .search_header .date_selection_container .date_selector .small_day {
    font-size: 16px;
  }

  .search_header .date_selection_container .date_selector {
    width: 105%;
  }
}
