/* 
  Choose Time 
  
*/

.appointment-rsvp-container #select-appointment-time #appointment_date::placeholder {
  font-size: 12px;
}

.appointment-rsvp-container #appointment-options #mobile_date_select {
  font-family: 'ProximaNova', sans-serif;
  font-size: 16px;
  color: #000000;
  transform: scale(0.8);
}

.appointment-rsvp-container #select-appointment-time .appointment-slots .day_container .day_segment .segment_header .num_available {
  color: #666666;
}

.appointment-rsvp-container input[type="text"]#mobile_date_select {
  width: 67%;
  padding: 8px 5px 8px 40px;
}

.bw-load-previous-dates, .bw-load-next-dates {
  top: 25% !important;
}

.search_header .date_selection_container .date_selector .small_day {
  font-size: 16px;
}

.appointment-rsvp-container #select-appointment-time .appointment-slots .day_container .day-title {
  font-family: 'ProximaNova', sans-serif;
  color: #000000;
  letter-spacing: 0;
}

.appointment-rsvp-container #select-appointment-time .appointment-slots .day_container .day_segment .segment_body a.appointment_link:hover {
  font-weight: bold !important;
}

.bw-iframe-container .day_segment .choose-time-slot-link {
  font-family: 'Helvetica-Light', sans-serif !important;
}

.search_header .date_selection_container .date_selector .dayname_only {
  padding: 36px 0;
}

.small-offset-1 {
  margin-left: 3.33333% !important;
}

.small-10 {
  width: 92.33333%;
}

.bw-iframe-container .day-date-column .date_selector .small_day {
  padding-bottom: 24px;
}

@media only screen and (max-width: 40em) {
  .search_header .date_selection_container .date_selector .dayname_only {
    padding: 36px 0;
  }
}

@media only screen and (min-width: 54.063em) {
  .bw-load-previous-dates {
    left: -25px;
  }

  .bw-load-next-dates {
    right: -25px;
  }
}

@media only screen and (max-width: 640px) {
  .bw-iframe-container #mobile_date_select {
    margin-left: 16% !important;
  }

  .bw-iframe-container .dayname_only {
    font-size: 16px !important;
  }

  .search_header .date_selection_container .date_selector {
    width: 105%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .bw-iframe-container .appointment-rsvp-container #select-appointment-time {
    margin-top: 30px !important;
  }

  .bw-iframe-container .choose_time_text {
    margin-left: 0% !important;
  }

  .appointment-rsvp-container #select-appointment-time .appointment-slots .day_container .day-title {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .bw-iframe-container .dayname_only {
    font-size: 12px !important;
  }

  .search_header .date_selection_container .date_selector .small_day {
    font-size: 12px;
  }
}
