
.bw-iframe-container .store_open_hours span b {
  font-weight: normal;
}


@media (min-width: 961px) {
  .bw-iframe-container .appointment-rsvp-container .store-container {
    display: flex;
  }
  .bw-iframe-container .store_miles_away, .bw-iframe-container .store_open_hours {
    font-size: 11px;

  }
  .bw-iframe-container a.choose-store-link.appointment-link.button-clean + table {
    display: none;
  }
  .bw-iframe-container #service-appointment-stores h6, .bw-iframe-container #service-appointment-stores h4{
    font-size: 12px;
  }
  .bw-iframe-container .appointment-rsvp-container .local-stores .select_store_button {
    width: 50%;
  }
}
@media (min-width: 375px) and (max-width: 769px) {
   .bw-iframe-container .appointment-rsvp-container .store-container > div:nth-child(2) > div:first-of-type {
    width: 100%;
   }
}
@media (max-width: 769px) {
  .bw-appointment-header-column a, .bw-appointment-header-column span {
    height: 10px;
  }
  .bw-appointment-header-column.selected, 
  .bw-appointment-header-column.selected a,
  .bw-appointment-header-column.completed, 
  .bw-appointment-header-column.completed a, 
  .bw-appointment-header-column.selected span,
  .bw-iframe-container .bw-appointment-header .bw-appointment-header-column.completed a {
    background-color: #666 !important;
    color: rgba(0,0,0,0) !important;
  }
  .bw-iframe-container .bw-appointment-header-row .small-5 {
    background-color: #d8d8d8;
    color: rgba(0,0,0,0) !important;
  }
}
@media (max-width: 375px) {
  .bw-iframe-container .store_miles_away, .bw-iframe-container .store_open_hours {
    font-size: 13px;
  }
  .bw-iframe-container .store_miles_away {
    width: 40%;
  }
  .bw-iframe-container .store_open_hours {
    width: 60%;
  }
  .bw-iframe-container .appointment-rsvp-container .store-container .address h4 {
    font-size: 14px;
  }
  .bw-iframe-container .bwt-store-address ,
   .bw-iframe-container .appointment-rsvp-container .store-container .address td,
    .bw-appointment-store-address > div > table + div + div + div,
    .bw-appointment-store-address > div > table + div + div  {
      font-size: 14px !important;
    }
  .bwt-appointment-choose-time .row:nth-child(3) > div:nth-child(4) {
    width: 90%;
    margin: 0 0 0 5%;
  }
  .bw-iframe-container .appointment-rsvp-container .service-appointment-stores {
    width: 77%;
    margin-left: 17%;
  }
  .bw-iframe-container #service-appointment-stores div:first-of-type .name_distance {
    font-size: 11px; 
  }
  .bw-iframe-container .appointment-rsvp-container .local-stores:before {
    width: 55%;
    margin-left: 16%;
  }
}
