.ch-namespace header.mobile div.inner { padding: 0 20px !important; }
.ch-namespace .mini ~ main {
    margin-top: 50px;
}
.bw-display-layer .footer {
  display: none;
}
.bwt-types-container {
  display: none !important;
}
.bwt-features-and-services-container {
  width: 100% !important;
}
