#branding span {
  display: none !important;
}

.btn {
  box-shadow: none;
  border-radius: 0px; 
}

.btn--primary {
  background: #44c4a1;
  border-color: #44c4a1;
}

.btn--primary:hover {
  background: #44c4a1;
  border-color: #44c4a1; 
}