@media screen and (max-width: 1024px) {
  .show-for-small-only {
    display: block !important;
  }
  .show-for-medium-up {
    display: none !important;
  }
  .show-for-large-only {
    display: none !important;
  }

	/* Header & Footer Styling */
  .tb-header {
    margin: 0 auto;
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999999;
    transition: all .25s ease;
  }
  
  .tb-top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    position: relative;
    min-height: 60px;
    background: #fff;
    border-bottom: 1px solid #c1bdbb;
  }
  
  .tb-top-header div {
    display:inline-block;
    font-size:20px;
  }

  .submenu:hover a {
  }

  .tb-nav-wrapper-left, .tb-nav-wrapper-right, .tb-logo-wrapper {
    display: inline-block;
    text-align: center;
    margin-top: 21px;
  }

  .tb-nav-wrapper-left, .tb-nav-wrapper-right {
    width: 10%;
  }

  .tb-logo-wrapper {
    width: 80%;
  }

  .tb-logo-wrapper #logo-image {
  	width: 100%;
  }

  .tb-bottom-nav, .tb-bottom-search {
    position: relative;
    overflow: hidden;
    background: #fff;
    height: 0;
    width: 100%;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .active-nav .tb-bottom-nav, .active-search .tb-bottom-search {
    height: 100%;
    border-bottom: 1px solid #c1bdbb;
    -webkit-transition: all .25s ease-in;
    -webkit-transform: translate3d(0,0,11px);
    transition: all .25s ease-in;
  }

  .tb-header.active-nav, .tb-header.active-search, .tb-header.active-nav .tb-header-container, .tb-header.active-search .tb-header-container {
    height: 100%;
    transition: all .25s ease;
  }

  /* Nav menu and Search bar */
  .tb-area-links{
    margin:10px 0;padding:0
  }

  .tb-area-links a {
    font-family:'TriviaSans',Sans-Serif;
    color:#494644;
    display:block;
    padding:10px 15px;
    font-size:14px;
  }

  .tb-area-links li {
    display:block;
    width:100%;
  }

  .tb-area-links li a {
    transition:all .25s ease;
    background:#fff;
    text-decoration:none;
  }

  .tb-area-links li:hover a {
    background:#f7f7f7;
  }

  .tb-area-links li a:before {
    transition:all .25s ease;
    position:absolute;
    margin-right:20px;
    right:0;
    font-family:'hbc-icons';
    content:"\e928";opacity:0;
  }

  .tb-area-links li:hover a:before {
    opacity:1;
  }

  .tb-search-form {
    padding:20px;
    box-sizing:border-box;
  }

  .search-form-input-container {
    position:relative;
    padding:20px 0;
    border-bottom:1px solid #c1bdbb;
  }

  .search-form-input {
    width:100%;
    border:none;
  }

  .icon-cross, .close-search, .search-form-input {
    top:50%;
    transform:translateY(-50%);
    color:#6c6967;
    position:absolute;
  }

  .icon-cross, .close-search {
    right:0;
  }


  .bw-display-layer {
    margin-top: 80px !important;
  }

  /*Footer*/
  .tb-footer {
    text-align:center;
  }

  .tb-footer div {
    box-sizing:border-box;
    font-size:12px;color:#494644;
    font-family:'TriviaSans',Sans-Serif;
  }

  .tb-footer a {
    text-decoration:none;
    color:#494644;
    font-size:22px;
  }

  .tb-link {
    font-size:12px;
    font-family:'TriviaSans',Sans-Serif;
  }

  .tb-footer span {
    display:block;
    font-size:12px;
    margin-top:10px;
  }

  .tb-top-footer {
    border-top:1px solid #c1bdbb;
    border-bottom:1px solid #c1bdbb;
    padding:20px 0;
    width:100%;
  }

  .tb-alerts-wrapper, .tb-print-wrapper {
    width:50%;
    float:left;
  }

  .tb-social-container {
    padding:20px 0;
  }

  .tb-social-container a {
    padding:0 10px;
  }

  .tb-alerts-wrapper {
    border-right:1px solid #c1bdbb;
  }

  .tb-bottom-footer {
    background:#f7f7f7;
  }

  .tb-bottom-footer-links {
    padding:10px 10px 25px;
    border-bottom:1px solid #c1bdbb;
  }

  .tb-bottom-footer a {
    display:block;
    font-size:12px;
  }

  .tb-bottom-footer-links a {
    padding:8px;
  }

  .tb-bottom-footer-info {
    padding:10px 0 20px;
  }

  .tb-bottom-footer-info div, .tb-bottom-footer-info a {
    font-family:'TriviaSans';
    color:#8e8b88;
  }

  .tb-bottom-footer-info a {
    display:inline-block;
    margin:10px 0;
    padding:0 10px;
  }

}

@media screen and (max-width: 1024px) and (min-width: 641px) {
  .tb-logo-wrapper img {
    width: 50% !important;
  }
}

@media screen and (max-width: 640px) {
  .tb-logo-wrapper img {
    width: 90% !important;
  }
}