html {
  font-size: 15px;
}

@font-face {
  font-family: 'Brandon-Grotesque';
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/chicos/Brandon_reg.otf');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased !important;
}

@font-face {
  font-family: 'Brandon-Grotesque';
  src:url('//s3.amazonaws.com/assets.brickworksoftware.com/chicos/Brandon_bld.otf');
  font-weight: bold;
  font-style: normal;
  -webkit-font-smoothing: antialiased !important;
}

@font-face {
  font-family: 'Brandon-Grotesque';
  src:url('//s3.amazonaws.com/assets.brickworksoftware.com/chicos/Brandon_reg_it.otf');
  font-weight: normal;
  font-style: italic;
  -webkit-font-smoothing: antialiased !important;
}

@font-face {
  font-family: 'Brandon-Grotesque';
 src:url('//s3.amazonaws.com/assets.brickworksoftware.com/chicos/Brandon_med.otf');
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased !important;
}

@font-face {
  font-family: 'BentonModernOne';
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/chicos/BentonModernOne-Roman.otf');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased !important;
}

body {
  background-color: #fff !important;
  font-family: "Brandon-Grotesque", Georgia, Times, serif !important;
  text-align: left !important;
}

.bw-display-layer-container {
  font-size: initial !important;
  margin: 0 auto !important;
  padding-top: 2.5rem;
}

.bw-display-layer .bwt-index-search-form-wrap {
  max-width: 1170px !important;
}

.bwt-cancel-rsvp-only {
  margin: 60px auto;
  text-align: center;
}

.bw-display-layer .store-type-123,
label[for=type_123] {
  display: none;
}

.bw-display-layer .store-type-42,
label[for=type_42] {
  display: none;
}

label {
  font-weight: 500 !important;
}

.bw-display-layer .bwt-index-filter-body label {
  padding: 2px 8px 0 22px !important;
}

#header-wrap {
  height: 9.075rem !important;
}

#header-inner {
  padding: 2.675rem 1rem 2rem 1rem;
}

.sticky #header #header-inner {
  padding-top: 0.667rem;
  padding-bottom: 0.667rem;
}

#menu > ul > li:first-child a {
  padding-left: 1.8rem !important;
}

#menu > ul > li > a {
  font-size: 1rem;
  line-height: 2.675rem;
  padding: 0 1.8rem;
}

#menu .dropdown-menu .dropdown-inner .row {
  max-width: 100%;
  margin-left: -15px !important;
  margin-right: -15px !important;
}

#menu .dropdown-menu .dropdown-inner .row h3 {
  margin-bottom: 0.8rem;
  font-size: 1.0667rem;
  line-height: 1.15rem;
}

#menu .dropdown-menu .dropdown-inner .row ul li {
  font-size: 0.8rem;
  margin-bottom: 0.675rem;
}

#menu .dropdown-menu .dropdown-inner .row ul li a {
  line-height: 1.6rem;
}

#menu-utility > ul > li {
  margin-left: 1.67rem !important;
}

#menu-utility > ul > li > a {
  line-height: 1.3rem;
}

#menu-utility ul li a span {
  font-size: 0.87rem;
}

#menu-utility .icon-map {  
  width: 0.95rem;
  height: 1.5rem;
}

#menu-utility .icon-search, #menu-utility .icon-menu {
  width: 1.35rem;
  height: 1.35rem;
}

.carousel-indicators li, .carousel-indicators .active {
  width: 1.07rem;
  height: 1.07rem;
  margin: 0 .535rem;
}

#footer-inner .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

#footer #footer-inner .row {
  max-width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

#footer #footer-inner h4 {
  font-size: 1rem;
  line-height: 1.1rem;
  margin-bottom: 1rem;
}

#footer #footer-inner ul li {
  margin-bottom: 0.8rem;
  line-height: 1.15rem;
}

#footer #footer-inner ul li a {
  font-size: 0.8rem;
  line-height: 1.15rem;
}

.footer-newsletter label {
  font-size: 0.8rem;
}

#footer-bot .row {
  margin-left: 0;
  margin-right: -15px;
}

.copyright {
  font-size: 0.67rem;
}

#social a {
  margin-right: 0.8rem;
}

.menu-toggle-inner {
  width: 1.375rem;
}

.menu-toggle-inner span {
  height: 0.2rem;
}

.menu-toggle-inner span:nth-child(2) {
  top: 0.4rem;
}

.menu-toggle-inner span:nth-child(3) {
  top: 0.8rem;
}

.menu-toggle-inner.open span:nth-child(1) {
  top: -.0667rem;
  left: .335rem;
}

.menu-toggle-inner.open span:nth-child(3) {
  top: 0.85rem;
  left: .335rem;
}

.menu-header-mobile {
  font-size: 0.8667rem;
}

@media (max-width: 991px) {
  #menu > ul .dropdown > a {
    padding: 0.5333rem 1rem !important;
    font-size: 1.07rem;
  }

  #menu-utility > ul > li {
    margin: 0 !important;
  }

  #menu .ship-to {
    font-size: 1.067rem;
    padding: 0.533rem 1rem;
  }

  #footer #footer-inner h4 {
    margin: 0.5rem 0;
  }

  #footer-inner .footer-menu-block .footer-menu-toggle:after {
    margin: 5px 15px 0 0;
  }
}

@media (max-width: 1100px) {
  #menu > ul > li > a {
    padding: 0 1rem;
  }
}

/* iFrame Styling */
@font-face {
  font-family: 'Brandon';
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/chicos/Brandon_reg.otf') format("opentype");
}

.appointment-rsvp-container div *:not(.bw-load-next-dates):not(.bw-load-previous-dates)  {
  font-family: 'Brandon', Georgia, Times, serif !important;
}
