@font-face {
  font-family: 'Brandon';
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/chicos/Brandon_reg.otf') format("opentype");
}

.appointment-rsvp-container div *:not(.bw-load-next-dates):not(.bw-load-previous-dates)  {
	font-family: 'Brandon', Georgia, Times, serif !important;
}