<link type="text/css" rel="stylesheet" href="//www.chicosofftherack.com/web_assets/css/core/chicos.css"/> 
<style>

.bw__SearchPage .bw__Grid__container > div[class^="Grid__row"] {
width: 100% !important;
}


.SearchResultsSummary__component .StoreCloseTime__component>span:first-of-type:before {
content: '' !important;
padding: 0 !important;
}

.StorePage__component .StoreCardMedia__serviceButton,
.StorePage__component .StoreCardMedia__header+div>div:nth-child(2)>div>div:nth-child(3)>div>div { display: none !important; }



div[class^="Grid__container"] > div[class^="Grid__row"] { min-width: 100%; }

.StorePage .StoreCardMedia__storeLink { display: none !important }

#brickworkApp .Modal {
    position: inherit;
    top: inherit;
    right: inherit;
    bottom: inherit;
    left: inherit;
    z-index: inherit;
    display: inherit;
    overflow: inherit;
    -webkit-overflow-scrolling: inherit;
    outline: 0;
}

.carousel h2, .carousel p {
margin: 0 !important;
}

td {
  padding: 0 !important
}

.bwt-cancel-rsvp-only {
  max-width: 500px;
  margin: 0 auto;
}

.bwt-event-rsvp-title {
  margin-top: 80px !important;
  font-family: 'Rokkitt', serif;
  font-weight: 800;
  font-size: 26px;
  color: #222222;
  letter-spacing: 0.27px;
  text-transform: uppercase;
  padding-left: 5%;
}

@media (max-width: 576px) {
  .bwt-event-rsvp-title {
    font-size: 24px;
  }
}

.bwt-event-rsvp-status {
  font-family: 'ProximaNova', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.29px;
  line-height: 18px;
  padding-left: 5%;
}

.bwt-event-rsvp-cancel-button {
  padding-left: 5%;
}

.bwt-event-rsvp-cancel-button a {
  font-family: 'ProximaNova', sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 10px;
  background: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 25px;
}

.bwt-event-rsvp-cancel-button a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.bw-display-layer .footer {
  display: none;
}

@media (min-width: 992px) {
   .sticky #header #mobile-menu-utility {
    top: -16px;
  }
  .Modal__component section.skylight-wrapper .skylight-dialog {
    top: 50% !important;
    height: auto !important;
  }
  section.skylight-wrapper .skylight-dialog {
    top: 50% !important;
    height: 90vh !important;
  }
  .bw__StoreCardMedia__content section.skylight-wrapper .skylight-dialog {
    top: 43% !important;
    height: 90vh !important;
    max-height: 71vh !important;
  }
  .StoreHoursDetailsLink section.skylight-wrapper .skylight-dialog {
    top: 44% !important;
  }

  div.EventRsvpButton section.skylight-wrapper .skylight-dialog {
    top: 45% !important;
    height: auto !important;
  }
   .bw__AppLayout__component > div > div.bw__Grid__container.component > div:first-of-type { width: 100% !important;}
}

.slick-dots li button:before {
  font-size: 20px !important;
}
@-moz-document url-prefix() {
  .slick-dots li button:before {
    font-size: 15px !important;
  }
  .bw__Checkbox__component .bw__Checkbox__input[type="checkbox"]:not(:checked) + label::after, .bw__Checkbox__component .bw__Checkbox__input[type="checkbox"]:checked + label::after {
    transform: scale(3.6) !important; 
    left: -5.8px !important;
  }
  .bw__StorePageOrderable__FeatureCardList {
    margin-top: 15px !important;
  }
}
@media (min-width: 300px) and (max-width: 480px) {
  section.skylight-wrapper .skylight-dialog {
    max-height: 80vh !important;
  }
  .bw__StoreCardMedia__content section.skylight-wrapper .skylight-dialog {
    max-height: 90vh !important;
    height: 85vh !important;
  }
  .bw__StoreCardMedia__serviceButton button h2 {
    margin-top: -10px !important;
  }
  .slick-dots li button:before {
  font-size: 30px !important;
  }
  .bw__EventPageOrderable__otherEventsCardList ul { bottom: -3px !important; }
}
@media (min-width: 600px) {
  .bw__EventCardFlagship__component .bw__EventCardFlagship__times span { font-size: 20px !important; }
}
@media (min-width: 500px) and (max-width: 790px) {
    .bw__EventPageOrderable__otherEventsCardList ul { bottom: 1px !important; }
}
</style>