@import url('//hello.myfonts.net/count/2ebc96');

@font-face {
  font-family: 'NewBaskervilleStd-Bold';
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_0_0.eot');
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_0_0.eot?#iefix') format('embedded-opentype'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_0_0.woff2') format('woff2'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_0_0.woff') format('woff'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'NewBaskervilleStd-BoldIt';
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_1_0.eot');
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_1_0.eot?#iefix') format('embedded-opentype'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_1_0.woff2') format('woff2'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_1_0.woff') format('woff'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'NewBaskervilleStd-Italic';
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_2_0.eot');
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_2_0.eot?#iefix') format('embedded-opentype'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_2_0.woff2') format('woff2'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_2_0.woff') format('woff'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'NewBaskervilleStd-Roman';
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_3_0.eot');
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_3_0.eot?#iefix') format('embedded-opentype'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_3_0.woff2') format('woff2'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_3_0.woff') format('woff'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_3_0.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaPT-Medium';
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_4_0.eot');
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_4_0.eot?#iefix') format('embedded-opentype'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_4_0.woff2') format('woff2'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_4_0.woff') format('woff'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_4_0.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaPT-Heavy';
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_5_0.eot');
  src: url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_5_0.eot?#iefix') format('embedded-opentype'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_5_0.woff2') format('woff2'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_5_0.woff') format('woff'),
    url('//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/2EBC96_5_0.ttf') format('truetype');
}

.bw-app .bw-display-layer-container .bw-display-layer {
  font-family: "NewBaskervilleStd-Roman", Helvetica, Arial, sans-serif;
}

.bw-display-layer h1,
.bw-display-layer h2,
.bw-display-layer h3,
.bw-display-layer h4,
.bw-display-layer h5,
.bw-display-layer h6 {
  text-transform: lowercase;
}

.bw-display-layer #appointment-confirmation,
.bw-display-layer #enter-contact-info input,
.bw-display-layer #enter-contact-info textarea,
.bw-display-layer .bwt-appt-input-placeholder,
.bw-display-layer .ui-accordion-content,
.bwt-store-banner-info-container .bwt-store-header-title,
.bwt-store-banner-info-container .bwt-store-header-title a,
.bwt-store-call-field label,
.bwt-rsvp-first-name-field label,
.bwt-rsvp-last-name-field label,
.bwt-rsvp-email-field label,
.bwt-email-opt-field label,
.bwt-appt-name-field label,
.bwt-appt-email-field label,
.bwt-appt-message-field label,
.bw-display-layer input.bwt-modal-store-search-location-field &::-moz-placeholder,
.bw-display-layer input.bwt-modal-store-search-location-field &::-webkit-input-placeholder,
.bw-display-layer input.bwt-modal-store-search-location-field &:-ms-input-placeholder,
.bw-display-layer input.bwt-modal-store-search-location-field &:-moz-placeholder,
.bw-display-layer .bw-appointment-service-link-description,
.bwt-store-show .bwt-store-alert h4,
.bwt-store-show .bwt-store-alert p,
.bwt-index-filter-body .bwt-filters-features-list,
.bw-display-layer .store-detail-name,
.bw-display-layer .store-not-found {
  font-family: "NewBaskervilleStd-Roman", Helvetica, Arial, sans-serif;
}

.bwt-store-call-title,
.bwt-store-call-response-title,
.bwt-events-rsvp-modal-title,
.bwt-events-rsvp-success-title,
.bwt-store-call-input,
.bw-display-layer .title h1,
.bw-appointment-service-link-name,
.bw-display-layer .local-stores,
.bw-appointment-header-column a,
.bw-appointment-header-column span,
.bw-appointment-step-container-title,
.bw-display-layer .title h1,
.bw-display-layer #appointment-confirmation .confirmation_title,
.bwt-events-more-events-title h2,
.bwt-store-features-title h2,
.bwt-store-services-title h2,
.bwt-store-events-title h2,
.bwt-stores-nearby-title h2,
.bwt-store-features-description h2,
.bwt-store-features-description {
  font-family: "NewBaskervilleStd-Italic", Helvetica, Arial, sans-serif !important;
}

.bwt-event-title,
.bw-display-layer .event-title,
.bwt-event-details-title,
.bwt-nearby-event-title,
.bwt-store-event-title,
.bwt-store-service-title {
  font-family: "NewBaskervilleStd-BoldIt", serif !important;
}

.bw-display-layer #appointment-options input,
.bw-display-layer .date_selector .big_day,
.bw-display-layer .date_selector .small_day,
.bw-display-layer .day_segment .segment_name,
.bw-display-layer .day_segment .num_available,
.bw-display-layer .day_segment .segment_body,
.bwt-store-show h4,
.bwt-store-show .bwt-store-features-description b,
.bwt-store-show .brickwork-button,
.bwt-store-show .ui-datepicker,
.bwt-store-show .bwt-store-link,
.bwt-store-show .new_subscription button,
.bwt-store-show-primary .bwt-store-phone-number,
.bwt-store-services-and-location h3,
.bwt-store-phone-number-link-text,
.bwt-store-email-link-text a,
.bwt-store-address-line,
.bwt-store-main-section,
.bwt-store-main-section h3,
.bwt-store-main-section table,
.bwt-events-other-events h4,
.bwt-events-rsvp-modal-button,
.bwt-index-filter-list,
.bw-appointment-header-feedback,
.bw-display-layer #select-appointment-time .appointment-slots .day_container .day-title,
.bw-display-layer .day-date-column .dayname_only,
.bw-display-layer .ui-accordion-header,
.bwt-store-main-alert,
.bw-display-layer .store-alert-container,
.bw-appointment-service-link-duration,
.bwt-store-banner-info-container .store-alert-container,
.bwt-store-address .bwt-store-address-line,
.bwt-index-store-body-details-distance-hours,
.bwt-store-phone-number,
.bwt-index-search-results-notice-details,
.bwt-store-actions .bwt-store-link,
.bwt-store-list .nearest-store,
.bwt-index-filters-expand-button,
.bwt-index-search-results-map-button,
.bw-call-to-action,
.bwt-index-main-title,
.bwt-event-index .pagination,
.bwt-event-index .bwt-local-link,
.bwt-event-index .bwt-event-time,
.bwt-event-index .bwt-event-date,
.bwt-store-main-search-link,
.bwt-store-event-link,
.bwt-events-main .bwt-event-search-link,
.bw-display-layer .button,
.bwt-appt-modal-button,
.bw-display-layer .nearest-store a.choose-store-link,
.bw-display-layer #confirm_appointment_button,
.bwt-events-rsvp-modal-button,
.bwt-events-rsvp-success-button,
.book-appointment-button:not(:empty),
.back-to-store-link,
.bwt-back-to-store-link,
.bwt-stores-nearby-list .bwt-store-map-button,
.bwt-store-map-button,
.bwt-events-map-button,
.bwt-store-map-button-mobile {
  font-family: "FuturaPT-Medium", Helvetica, Arial, sans-serif !important;
}

.bwt-filters-features-title {
  font-family: 'FuturaPT-Heavy', sans-serif !important;
}

.primary-logo img {
  max-width: none;
}

input#location::placeholder {
  font-family: "NewBaskervilleStd-Italic", sans-serif !important;
}

.bwt-store-map-pin-holder,
.bwt-events-map-pin-holder {
  background: url("//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/images/ksny_pin.png") no-repeat !important;
}

#bwt-bigmap .default-map-pin {
  content: url("//s3.amazonaws.com/assets.brickworksoftware.com/kate_spade/images/ksny_pin.png") !important;
}

.row .bw-display-layer .promo-message .call-to-action, .row .bw-display-layer .book-appointment-button {
  display: block;
}

.bw-display-layer .bwt-store-show .bwt-store-features-container .bwt-store-feature {
  height: 80px;
}

.row #appointment-container .title {
  margin: 30px 0px;
}

@media screen and (max-width: 480px) {
  .row #appointment-container .day-date-column .dayname_only {
    font-size: 9px !important;
  }
}

.bw-display-layer .promo-message .bwt-hide-on-mobile, .bwt-index-search-container .promo-message .bwt-hide-on-mobile {
  display: block !important;
}

.bw-display-layer .bwt-store-show .bwt-store-features-container .bwt-store-feature h4 {
  padding: 0;
}

.bwt-index-search-form-location-button {
  display: block;
}
.bw-display-layer .bwt-store-featured-associate-name {
    font-family: NewBaskervilleITCbyBT-Roman !important;
    font-size: 24px !important;
    letter-spacing: 0.75px;
    line-height: 30px !important;
    opacity: 1;
    width: auto;
    display: block;
    margin: 0 auto;
    color: #231F20;
    word-break: break-all;
    text-transform: lowercase;
}


/* Appointment Modal Store Muses */
.row #appointment-container #choose-associate .associates_cointainer .associates-grid li a{
  border:1px none !important;
}

.row #appointment-container #choose-associate .associates_cointainer .associates-grid li img{
  border: 3px solid black;
  padding: 3%;
  height: 256px !important;
  width: 256px !important;
}
.row #appointment-container #choose-associate .associates_cointainer .associates-grid li a .associate-info {
  background: #fff !important;
  color: #000 !important;
}
.row #appointment-container #choose-associate .associates_cointainer .associates-grid li a .associate-info *{
  background: #fff !important;
  color: #000 !important;
}
.row #appointment-container #choose-associate .associates_cointainer .associates-grid li a .associate-info h6{
  font-family: NewBaskervilleITCbyBT-Roman;
  font-size: 24px;
  color: #231F20;
  letter-spacing: 0.75px;
}
.row #appointment-container #choose-associate .associates_cointainer .associates-grid li a .associate-info h6::before{
  content: '_';
  position: relative;
  bottom: 8px;
}
.row #appointment-container #choose-associate .associates_cointainer .associates-grid li a .associate-info p{
  font-family: KateSans-Regular !important;
  font-size: 13px;
  color: #000000;
  letter-spacing: 1.3px;
}
.row #appointment-container #choose-associate .associates_cointainer .associates-grid li a .associate-info p::before{
  content: 'Specializes in:';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  font-family: "FuturaPT-Medium", Helvetica, Arial, sans-serif !important;
  display: block;
  line-height: 15px;
}
.row #appointment-container #choose-associate .associates_cointainer .associates-grid li a .associate-contenthover {
  display: none;
}
.bw-display-layer .book-appointment-button:not(:empty):hover {
  background: #48a642 !important;
  border-color: #48a642 !important;
  color: #fff !important;
}
.bw-display-layer .bwt-pagination-container .bwt-pagination:hover {
  background: #48a642 !important;
  border-color: #48a642 !important;
  color: #fff !important;
}
.bw-display-layer .bwt-pagination-container .bwt-pagination {
  color: #fff !important;
  background: #000 !important;
  font-family: "FuturaPT-Medium", Helvetica, Arial, sans-serif !important;
  letter-spacing: 0.1rem !important;
  font-size: 0.875rem !important;
  padding: 10px 30px !important;
}
/* Event Adjustments */
.bw-display-layer .bwt-store-show .bwt-store-event-description {
  font-size: .9rem !important;
}
.bw-display-layer .bwt-events-main .bwt-event-details-container {
  padding-bottom: 15px !important;
}
/* Store Index Image */
.bw-display-layer .store-info .bwt-store-body-wrapper .bwt-store-outer-body-wrapper .bwt-store-body-image-container .bwt-index-store-image {
  display: none !important;
}
/* Store Feature Spacing */
.bw-display-layer .bwt-store-show .bwt-store-feature {
  width: 20% !important;
}
@media only screen and (max-width: 640px) {
.bw-display-layer .bwt-store-show .bwt-store-feature {
    height: 35px !important;
  }
}
@media only screen and (max-width: 640px) {
.bw-display-layer .bwt-store-show .bwt-store-feature {
    width: 100% !important;
  }
}

nav[role="navigation"] .menu-category a.has-sub-menu {
    text-decoration: none;
}


.bw-display-layer .bwt-index-search-form-input, .bw-display-layer .bwt-store-show-email-signup-input, .bw-display-layer .bwt-stores-nearby-search-form-input, .bw-display-layer input[type="text"].bwt-stores-nearby-search-form-input {
padding: 0
}

.bwt-index-search-form-location-button,
.bw-display-layer .footer a {
display: none;
}
a.brickwork-button { color: white !important; }
.bw-display-layer .bwt-store-show .bwt-store-survey .bwt-store-survey-link .bwt-store-link { color: white !important; }
h2.store-detail-name { color: black !important; }
a { color: inherit !important; }
.bwt-store-services-info-title { padding-left: 0px !important; }
.bw-display-layer .bwt-store-show .ui-datepicker td a:hover, .bw-display-layer .bwt-store-show .ui-datepicker td a.ui-state-active {
  background: #fff !important;
}
.bw-display-layer .bwt-index-search-form-location-button, .bw-display-layer .bwt-index-search-form-submit, .bw-display-layer .bwt-stores-nearby-search-form-button {
  background: transparent !important;
}
.bwt-store-link:hover {
  background: #48a642 !important;
  border-color: #48a642 !important;
}
h3.bw-display-layer .bwt-store-show .bwt-store-hours {
  margin-top: 0px !important;
}
a.bwt-store-map-button-mobile .bwt-mobile-only { color: white !important; }
a.bw-display-layer .bwt-store-show .brickwork-button { color: white !important; }

#questions-wrapper select {
background-color: #fff;
}

#enter-contact-info .first-name, 
#enter-contact-info .last-name, 
#enter-contact-info .email {
top: 50%;
}

#appointment-container .bw-appointment-services .bw-appointment-service-link .appointment_link {
  color: #fff !important;
}

#appointment-container .nearest-store a.choose-store-link, #appointment-container #confirm_appointment_button {
  color: #fff !important;
}

#appointment-container .day-date-column .dayname_only:hover {
  color: #fff !important;
}

.appointment-rsvp-container #select-appointment-time .appointment-slots .day_container .day_segment .segment_body a.appointment_link:hover {
  color: #fff !important;
}

@media only screen and (max-width: 640px) {
  .bw-display-layer .bwt-store-show .bwt-store-show-primary .bwt-store-map-button-mobile {
    color: #fff !important;
  }
}

.bw-display-layer .bwt-events-main .bwt-event-details-rsvp-signup-button {
  color: #fff !important;
}

.bw-display-layer .bwt-events-other-events .bwt-nearby-event-link-container a {
  color: #fff !important;
}
#appointment-container .date_selector:hover *, .search_header .date_selection_container .date_selector.selected {
  color: #fff !important;
}
#questions-wrapper select, #questions-wrapper select:active, #questions-wrapper select:hover {
  border-color: #e6e6e6 !important;
  color: #ccc ;
  font-family: "NewBaskervilleStd-Roman", Helvetica, Arial, sans-serif;
}
.bw-display-layer .bwt-event-index .bwt-store-event-link {
  color: #fff !important;
}

.appointment-rsvp-container #appointment-confirmation {
  padding: 35px 0;
}
[data-abide] span.error {
  display: inline-block !important; 
  background: red !important;
  padding: 3px !important;
}
.appointment-rsvp-container #appointment-confirmation .details {
  font-family: "NewBaskervilleStd-Roman", Helvetica, Arial, sans-serif;
  border-top: none;
  border-bottom: none;
}

#appointment-container #appointment-confirmation::before {
  position: absolute;
  content: '';
  width: 90%;
  height: 16px;
  left: 5%;
  z-index: 0;
  border-bottom: 1px solid #f2f2f2;
}

#appointment-container #appointment-confirmation .confirmation_title {
  font-size: 24px;
  position: relative;
  margin: 0;
  background: #fff;
  padding: 0 20px;
  display: inline-block;
}

@media only screen and (min-width: 641px) {
  .bw-display-layer .bwt-store-show .bwt-store-main-section {
    width: 31% !important;
  }
  .bw-display-layer .bwt-store-show .bwt-store-main-section:nth-of-type(4) {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  #appointment-container .bw-appointment-step-container-title, #appointment-container .title h1 {
    margin: -10px;
    padding: 0;
  }
}

.bw-appointment-header-column.completed, .bw-appointment-header-column.completed a {
  color: #ccc;
}

.bw-appointment-step-container#enter-contact-info {
  margin-top: 3rem;
}

@media only screen and (max-device-width : 768px) {
  .bw-appointment-header .completed a {
    color: #cccccc !important;
  }
}

strong, b {
  font-weight: normal;
}

/* Questions V2 */
#enter-contact-info .bwt-appt-input-placeholder, #questions-wrapper .bwt-appt-input-placeholder,
#questions-wrapper select, #questions-wrapper .Checkboxes label, #questions-wrapper .Checkboxes span, 
#questions-wrapper .Radio label, #questions-wrapper .Radio span, #enter-contact-info .error, #questions-wrapper .error,
#appointment-container #enter-contact-info .bwt-appt-input-placeholder, #appointment-container #enter-contact-info label {
  text-transform: uppercase !important;
}
